.wrapper {
    position: relative;
    width: #{$siteWidth}px;
    max-width: 100%;
    background-color: #FFF;
    margin: 0 auto;
    overflow: hidden;
    @media screen and (max-width: #{$breakpoint}px) {
        width: 100%;
        border-radius: 0;
        padding: 0;
        margin: 0;
    }

    > .container {
        position: relative;
        padding: 0 #{$containerPadding}px;
        margin: 0;
    }

    @media screen and (max-width: #{$breakpoint}px) {
        padding: 0;

        > .container {
            padding: 0 #{$containerPadding / 2}px;
        }
    }
}

/////////////   CARD SCROLLER

.card-scroller {

  @include smartphone {
    overflow-x: scroll;

    section {
      display: flex;
      flex-wrap: nowrap;
      min-width: 800px;

      .card__content {
        min-height: 142px;

        .card__title {

          h3 {
            @include line-clamp(2, 28)
          }
        }
      }

      > div[class^="col-"] {
        width: 30.61224%;
        margin-left: 0%;
        margin-right: 4.08163%;

        &:last-child {
          margin-right: 0%;
        }
      }
    }
  }
}

/*html {
	width: 100%;
	max-width: 100%;
}*/

/*
body {
	width: 100%;
	max-width: 100%;
	color: $paragraphColor;
	font-family: $primaryFont;
	font-size: #{$fontSize}px;
	line-height: #{$lineHeight}px;
	background: #FFF;
	margin-left: auto; // non usare margin: npx npx npx npx perché il margin-top subisce variazioni dall'adv
	margin-right: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&.modal {
		background: $modalColor;
	}
}*/

/*
.wrapper {
	position: relative;
	min-width: #{$siteWidth}px;
	padding: 0;
	margin: 0 auto;
	width: 100%;
	@extend %cf;

	@include smartphone {
		position: relative;
		width: 100%;
		min-width: 0;
		padding: 10px;
	}
}*/


.container, section {
	position: relative;
	@extend %cf;
}

/*
.section-container {
	margin-bottom: #{$containerDivider}px;
	@extend %cf;
}*/

/*
a {

	&:hover {
		color: darken($secondaryColor, 10%);
	}

	> * {

		&:hover {
			color: darken($secondaryColor, 10%);
		}
	}
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}*/

/*
textarea {
	@extend %input;
	border-radius: 0px;
	line-height: 20px;
	min-height: 200px;
	padding: 8px 16px;
	resize: vertical;

	&:focus {
		border: 1px solid $secondaryColor !important;
	}
}

input[type=text]:focus,
input[type=email]:focus,
.select2-selection[aria-expanded="true"] {
	border: 1px solid $secondaryColor !important;
}*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: transparentize($secondaryColor,0.2)
}

::-moz-placeholder { /* Firefox 19+ */
	color: transparentize($secondaryColor,0.2);
	opacity: 1;
}

:-ms-input-placeholder { /* IE 10+ */
	color: transparentize($secondaryColor,0.2)
}

:-moz-placeholder { /* Firefox 18- */
	color: transparentize($primaryColor,0.2)
}

/*
.textual-link {
	color: $secondaryColor;

	&:hover {
		color: darken($secondaryColor, 15%);
	}
}*/

/*
.title {
	font-weight: bold;
	font-size: 26px;
	line-height: 32px;
	font-weight: bold;
	color: $titleColor;

	&--big-title {
		display: inline-block;
		font-size: 42px;
		line-height: 48px;
		margin-bottom: #{$containerDivider}px;

		@include smartphone {
			font-size: 38px;
			line-height: 42px;
		}
	}

	&--medium-title {
		display: inline-block;
		font-size: 22px;
		line-height: 26px;
		margin-bottom: #{$elementDivider}px;
	}

	&--small-title {
		display: inline-block;
		font-size: 18px;
		line-height: 24px;
		margin-bottom: #{$elementDivider}px;
	}

	.sidebar & {
		display: block;
		padding: 5px 0;
		border-bottom: 1px solid #ccc;
		margin-bottom: #{$elementDivider}px;
	}
}

.big-title {
	display: inline-block;
	font-size: 42px;
	line-height: 48px;
	font-weight: bold;
	margin-bottom: #{$containerDivider}px;
}

.post__head {

	.featured-image {

		& + .description {
			padding: 0 #{$containerGutter}px;
		}
	}

	.description {
		padding-left: 0;
	}
}

.btn {
	background-color: transparent;
	border-radius: 8px;
	padding: 6px;
	color: #29A4E5;
	font-size: 12px;
	white-space: nowrap;
	cursor: pointer;

	&--light {

		&:hover {
			background-color: rgba(255,255,255,0.2);
		}
	}

	&--dark {

		&:hover {
			background-color: rgba(0,0,0,0.05);
		}
	}

	&--close {
		@extend %icons;
		background-position: 15px -731px;
		width: 50px;
		height: 50px;
	}

	&--back {
		@extend %icons;
		background-position: 7px -1225px;
		background-size: 80px auto !important;
		width: 50px;
		height: 50px;
	}

	svg {
		display: block;
	}
}

.cta-container {
	margin: #{$containerDivider}px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}


.cta {
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 8px 15px;
	margin: 0 auto;
	color: #000;
	background-color: $primaryColor;
	transition: all ease-out 0.2s;

	&:hover {
		background-color: darken($primaryColor, 10%);
		color: #fff !important;
	}

	&--external {
		border-radius: 25px;
		height: 50px;

		&--icon {
			@extend %icons;
			background-position: 109% -1104px;
			background-size: 70px auto;
			padding-right: 50px;
			font-weight: 700;
			line-height: 30px;
		}
	}

	&--write {
		font-weight: bold;
		padding-right: 50px;
		@extend %icons;
		background-position: 115% -663px;
	}

	&--sign {
		@extend %icons;
		background-position: 133% -1399px;
		padding-right: 40px;
	}
}*/

/*
.dropdown {
	background-color: $secondaryColor;
	background-image: url('#{$urlImages}/select-caret-light.svg');
	border-radius: 5px;
	color: #fff;
}*/

/*
.card {
	@extend %cf;
	position: relative;
	margin-bottom: #{$elementDivider}px;

	.card__top {
		display: flex;
		margin-bottom: 12px;

		.card__details {
			display: flex;
			width: stretch;

			@include smartphone {
				flex-direction: column;

				.cta-container {
					align-self: start !important;
					margin: 12px auto 12px 0 !important;
				}
			}

			.cta-container {
				align-self: center;
				margin-left: auto;
			}
		}
	}

	.card__thumbnail {
		min-width: 120px;
		margin-right: 10px;
		float: left;

		&--big {
			margin-right: 0;
			margin-bottom: 10px;
			float: none;
		}

		@include smartphone {
			//margin-right: 0;
		}
	}

	&__title {
		margin-bottom: #{$elementDivider/2}px;

		a {

			h3 {
				font-weight: bold;
				font-size: 20px;
				line-height: 24px;
				text-transform: capitalize;
			}
		}

		&--overlay {

			a {

				h3 {

					&:hover {
						color: $primaryColor !important;
					}
				}
			}
		}
	}

	&--no-image {

		picture {
			display: none;
		}
	}

	&-video {

		.card__thumbnail {
			position: relative;
			overflow: hidden;

			&:before, &:after {
				content: '';
				width: 100%;
				height: 15px;
				background-color: #000;
				position: absolute;
				left: 0;
				transition: top ease-out 0.15s;
				z-index: 2;
			}

			&:before {
				top: -15px;
			}

			&:after {
				top: 100%;
			}

			&:hover {

				&:before {
					top: 0;
				}

				&:after {
					top: calc(100% - 15px);
				}
			}

			picture {
				padding-bottom: 56.25%;

				&:before {
					content: '';
					background-image: url('#{$urlImages}/ico-video.svg');
					background-position: center center;
					background-size: 100% auto;
					//opacity: 0.4;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50% , -50%);
					transition: all ease-out 0.2s;
					width: 20%;
					height: 0;
					padding-bottom: 20%;
					z-index: 1;
				}


				&:hover {

					&:before {
						opacity: 1;
					}
				}
			}
		}
	}

	&__related-posts {
		position: relative;
		padding-left: 25px;
		margin-top: #{$elementDivider}px;

		&__item {

			&:before {
				content: '';
				position: absolute;
				display: block;
				width: 25px;
				height: 25px;
				left: 0;
				@extend %icons;
			}
		}

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			height: 23px;
			width: 20px;
			@extend %icons;
			background-position: 5px -272px;
		}

		ul {
			padding: 10px 0 0 0;

			li {
				position: relative;
				padding-bottom: 20px;
				padding-left: 30px;

				&:after {
					content: '';
					background-color: #ccc;
					display: block;
					position: absolute;
					top: 25px;
					left: 13px;
					width: 1px;
					height: calc(100% - 25px);
				}

				a {
					font-weight: bold;
					color: #000;
					font-size: 14px;

					&:hover {
						color: darken($secondaryColor, 15%);
					}
				}

				&:last-child {

					&:after {
						content: none;
					}
				}
			}
		}

		&__item--post {

			&:before {
				background-position: 3px -425px
			}
		}

		&__item--video {

		}

		&__item--applicazione {

			&:before {
				background-position: 3px -396px
			}
		}

		&__item--esperto {

			&:before {
				background-position: 3px -396px
			}
		}

		&__item--percorso {

			&:before {
				background-position: 3px -370px
			}
		}

		&__item--guida {

			&:before {
				background-position: 3px -335px
			}
		}

		&__item--lezione {

			&:before {
				background-position: 3px -305px
			}
		}
	}
}*/

/*
.category-label {
	background-color: $primaryColor;
	text-transform: uppercase;
	padding: 3px 5px;
	font-size: 12px;
}

.sponsor {
	display: flex;
	align-items: center;
}

.divider {
	margin: #{$elementDivider}px 0;
	height: 1px;
	background: #ccc;
	width: 100%;
}*/

/*
.editorial {
	font-size: 18px;
	line-height: 26px;
	overflow: hidden;

	.single & {
		padding-left: 48px;

		@include smartphone {
			padding: 0;
		}
	}

	a {
		color: $linkColor;
		font-weight: bold;
		text-decoration: underline;
		outline: none !important;

		&:hover {
			color: #5AA5DE;
		}

		body.modal & {
			color: #FFFFFF !important
		}

		body.modal.modal--light & {
			color: #ddd !important
		}
	}

	img {
		display: block;
		margin: 0 auto 24px auto;
	}

	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: bold;
		padding: 0;
		margin: 32px 0 0;

		body.modal & {
			color: #FFFFFF !important
		}

		body.modal.modal--light & {
			color: #000 !important
		}
	}

	h2 {
		font-size: 28px;
		line-height: 34px;
	}

	h3,
	h4 {
		font-size: 24px;
		line-height: 30px;
	}

	h5,
	h6 {
		font-size: 20px;
		line-height: 26px;
	}


	h4 {

		> a {
			display: block;
			font-size: 18px;
			font-weight: bold;
			text-decoration: underline;
			line-height: 26px;
			margin: 0 0 24px;
		}
	}

	p {
		font-size: 16px;
		line-height: 24px;
		margin: 0 0 24px;
		hyphens: auto;

		body.modal & {
			color: #FFFFFF
		}

		body.modal.modal--light & {
			color: #000;
		}

		&:last-child {
			margin: 0;
		}
	}

	> ul {
		margin: 24px;

		li {
			font-size: 18px;
			line-height: 26px;
			margin: 0 0 12px;

			body.modal & {
				color: #FFFFFF
			}

			body.modal.modal--light & {
				color: #000 !important
			}

			&:before {
				content: '';
				background: $secondaryColor;
				width: 10px;
				height: 10px;
				display: inline-block;
				margin-right: 10px;

				body.modal & {
					color: #FFFFFF
				}

				body.modal.modal--light & {
					color: #ddd !important
				}
			}
		}
		@include smartphone {
			margin: 24px 0;
		}
	}

	> ol {
		margin: 24px;
		counter-reset: my-counter;

		&[type="a"] li:before {
			content: counter(my-counter, lower-alpha);
		}

		&[type="i"] li:before {
			content: counter(my-counter, lower-roman);
		}

		li {
			font-size: 18px;
			line-height: 26px;
			margin: 0 0 12px;

			body.modal & {
				color: #FFFFFF
			}

			body.modal.modal--light & {
				color: #000 !important
			}

			&:before {
				content: counter(my-counter);
				counter-increment: my-counter;
				margin-right: 10px;
				font-size: 1.4em;
				font-weight: bold;
				color: $secondaryColor;

				body.modal & {
					color: #FFFFFF
				}

				body.modal.modal--light & {
					color: #ddd !important
				}
			}
		}
		@include smartphone {
			margin: 24px 0;
		}
	}

	b, strong {
		font-weight: bold;
	}

	i, em {
		font-style: italic;
	}

	u {
		text-decoration: underline;
	}

	blockquote {
		display: block;
		font-size: 20px;
		font-style: italic;
		line-height: 28px;
		padding: 18px;
		margin: 0 0 24px;

		&:before,
		&:after {
			content: '"';
			font-size: 2em;
			color: transparentize($secondaryColor,0.5);
			float: left;
			margin: 0 10px 0 -30px;
		}

		&:after {
			float: right;
			margin: -8 -12px 0 0;
		}

		p {
			display: block !important;
			font-size: 20px;
			font-style: italic;
			line-height: 28px;
			padding: 0 !important;
			float: none;
		}
	}

	.table-wrapper {
		width: 100%;
		overflow-x: auto;
		margin-bottom: 20px;
		border: 1px solid #ccc;
		border: 2px solid #003F74;
		box-shadow: inset 0 0 5px 0px #000;
	}

	table {
		width: 100%;
		white-space: nowrap;
		@include smartphone {
			border: none;
			margin: 0;
		}

		thead,
		caption {
			background-color: $primaryColor;
			color: #FFFFFF;
			text-align: center;
			font-weight: bold;
			text-transform: uppercase;
			padding: 7px;
		}

		tr {

			td,
			th {
				padding: 7px;
				border: 1px solid rgb(175, 194, 213);
				font-size: 13px;
				line-height: 16px;
				min-width: 200px;
				white-space: normal;

				* {
					font-size: 13px;
					line-height: 16px;
				}
			}

			&:first-child {
				background-color: transparentize($primaryColor, 0.5);

				td,
				th {
					//font-weight: bold;
				}
			}
		}
	}

	.syntaxhighlighter {
		padding: 10px;
		background-color: #dadada;
		clear: both;
		color: #000000;
		margin: 20px 0;
	}

	div[id^="containerNodeId"] {

		> div {
			left: 50% !important;
			transform: translateX(-50%);
		}
	}
}*/
