@import '../libs/jeet/jeet';

@function gutter($value, $parentWidth) {
	@return ($value * 100) / $parentWidth;
}

.main-content {
	width: 100%;
	padding-bottom: 24px;

	&.main-content--left {
		width: #{$mainContentWidth}px;
		float: left;
		padding-right: #{$elementGutter}px;
	}

	&.main-content--right {
		width: #{$mainContentWidth}px;
		float: right;
	}

	&.main-content--left,
	&.main-content--right {
		@include smartphone {
			width: 100%;
			float: none;
			padding: 0;
		}
	}
}

.sidebar {
	min-width: #{$sidebarWidth}px;
	width: #{$sidebarWidth}px;
	min-height: 250px;

	@include smartphone {
		width: 100%;
		padding: 0 !important;
	}

	&.sidebar--right {
		float: right;
	}

	&.sidebar--left {
		float: left;
	}
}

%mobile-uncount {
	@include smartphone {
		column-count: 1 !important;
		column-gap: 0 !important;
	}
}

@for $i from 1 through $columns {

	.col-#{$i} {
		@include column($i/$columns, $gutter: (100 * $elementGutter) / $maxWidth);

		@include smartphone {
			@include column(1/1, $gutter:0);
		}

		.main-content &,
		.col-8 & {
			@include column($i/$columns, $gutter: (100 * $elementGutter) / $mainContentWidth);

			@include smartphone {
				@include column(1/1, $gutter:0);
			}
		}
	}

	.col-mobile-#{$i} {

		@include smartphone {
			@include column($i/$columns, $gutter: (100 * $elementGutter) / $maxWidth);
		}

		.main-content &,
		.col-8 & {

			@include smartphone {
				@include column($i/$columns, $gutter: (100 * $elementGutter) / $mainContentWidth);
			}
		}
	}

	.span-#{$i} {
		@include span($i/$columns);
		@include smartphone {
			@include span(1/1);
		}
	}

	.container-cycle-col-#{$i} {
		@extend %cf;

		> * {
			@include column((($columns/$i)/$columns), $cycle:#{$i}, $gutter: (((100 * $elementGutter) / $mainContentWidth) - ((100 * $elementGutter) / $maxWidth)));
			@include smartphone {
				@include column(1/1, $cycle:1, $gutter:0);
			}
		}
	}

	.container-cycle-span-#{$i} {
		@extend %cf;

		> * {
			@include span((($columns/$i)/$columns), $cycle:#{$i});
			@include smartphone {
				@include span(1/1, $cycle:1);
			}
		}
	}
}

///////////////////////////

.col-count-2 {
	column-count: 2;
	column-gap: #{$elementGutter}px;

	> * {
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
	}

	@extend %mobile-uncount;
}

.col-count-3 {
	column-count: 3;
	column-gap: #{$elementGutter}px;

	> * {
			-webkit-column-break-inside: avoid;
			page-break-inside: avoid;
			break-inside: avoid;
	}

	@extend %mobile-uncount;
}

.col-count-4 {
	column-count: 4;
	column-gap: #{$elementGutter}px;

	> * {
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
	}

	@extend %mobile-uncount;
}

.col-count-5 {
	column-count: 5;
	column-gap: #{$elementGutter}px;

	> * {
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
	}

	@extend %mobile-uncount;
}

.col-count-6 {
	column-count: 6;
	column-gap: #{$elementGutter}px;

	> * {
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;
	}

	@extend %mobile-uncount;
}

///////////////////////////

.mobile-switch-container {
	@include smartphone {
		display: flex;
		flex-direction: column;
	}
}

.mobile-switch-1 {
	@include smartphone {
		order: 1
	}
}

.mobile-switch-2 {
	@include smartphone {
		order: 2
	}
}

.mobile-switch-3 {
	@include smartphone {
		order: 3
	}
}

.mobile-switch-4 {
	@include smartphone {
		order: 4
	}
}

///////////////////////////

.flex {
	display: flex;

	@include smartphone {
		flex-direction: column;
	}

	&--column {
		flex-direction: column;
	}

	&--center {
		align-items: center;
	}

	&--end {
		justify-content: flex-end;
	}

	&--between {
		justify-content: space-between;
	}

	&--around {
		justify-content: space-around;
	}
}



/*
.rail-800 {
	min-height: 1000px;

	@include smartphone {
		min-height: 0;
	}
}*/
