@mixin smartphone {
	@media screen and (max-width: #{$breakpoint}px) {
		@content;
	}
}

@mixin over-smartphone {
	@media screen and (min-width: #{$breakpoint+1}px) {
		@content;
	}
}

@mixin large-smartphone-portrait {
	@media screen and (max-width: 375px) and (orientation: portrait) {
		@content;
	}
}

@mixin large-smartphone-landscape {
	@media screen and (max-width: 812px) and (orientation: landscape) {
		@content;
	}
}

@mixin smartphone-portrait {
	@media screen and (max-width : 320px) and (orientation: portrait) {
		@content;
	}
}

@mixin smartphone-landscape {
	@media screen and (max-width: #{$breakpoint}px) and (orientation: landscape) {
		@content;
	}
}
