@mixin line-clamp($lines, $line-height) {
	display: block;
	display: -webkit-box;
	height: #{$lines * $line-height}px;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines;
	overflow: hidden;
}

@mixin multiply-border($element, $thickness) {

	&:#{$element}, &::#{$element} {
		content: '';
		display: block;
		background-color: rgba(0, 0, 0, 0.2);
		background-blend-mode: multiply;
		height: #{$thickness}px;
		width: 100%;
	}
}
