*[data-link] {
	cursor: pointer;
}

/*
textarea {
	@extend %input;
	line-height: 20px;
	min-height: 200px;
	padding: 8px 16px;
	resize: vertical;

	&:focus {
		border: 1px solid $primaryColor !important;
	}
}

input[type=text]:focus,
input[type=email]:focus,
.select2-selection[aria-expanded="true"] {
	border: 1px solid $secondaryColor !important;
}*/


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: transparentize($secondaryColor,0.2)
}

::-moz-placeholder { /* Firefox 19+ */
	color: transparentize($secondaryColor,0.2);
	opacity: 1;
}

:-ms-input-placeholder { /* IE 10+ */
	color: transparentize($secondaryColor,0.2)
}

:-moz-placeholder { /* Firefox 18- */
	color: transparentize($secondaryColor,0.2)
}

/*
button[type="submit"] {
	background-color: transparent;
	border: none;
	border: 0;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
}

.sticky-element, .sticky-banner{
	transition: all ease-out 0.3s;

	&.is_stuck {
		//position: fixed !important;

		body.nav-down & {
			top: 80px !important;
			bottom: auto !important;

			&.at_bottom {
				bottom: 0 !important;
				top: auto !important;
			}
		}

		body.nav-up &.at_bottom {

		}
	}
}

.banner {
	margin: 0 auto;
}

.banner300X250 {
	height: 250px;
	width: 300px;
}
*/
.lazyload {
	opacity: 0;
}

.lazyloading {
	opacity: 1;
	display: block;
	position: absolute !important;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
	background: rgba($primaryColor,0.01);
	margin: 0 !important;
	z-index: 1;
	transform: translate(0,0);

	&:after {
		content: url('#{$urlImages}/loading.svg');
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		width: 32px;
		height: 32px;
		margin: -16px auto auto -16px;
		-webkit-animation: loading-spin 0.7s infinite linear;
		animation: loading-spin 0.7s infinite linear;
		filter: drop-shadow(0px 0px 0px #000000);
		-webkit-filter: drop-shadow(0px 0px 0px #000000);
	}
}

.lazyloaded {
	opacity: 1;
	transition: opacity 0.3s;
}

/*
.left {
	float: left;
}

.right {
	float: right;
}
*/

.line-clamp-2 {
	@include line-clamp(2, $lineHeight);
}

.line-clamp-3 {
	@include line-clamp(3, $lineHeight);
}

.line-clamp-4 {
	@include line-clamp(4, $lineHeight);
}

/*
*[class$="--section"] {
	@extend %cf;
}
*/
section {
	margin-bottom: #{$containerDivider}px;
}


picture {
	display: block;
	position: relative;
	height: 0;
	overflow: hidden;
	padding-bottom: 100%;

	img {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		transform: translate(-50%, -50%);
	}
}

// Google Analytics
.ga-experiment {
	display: none;
}
