%heading {
	color: $titleColor;
	//font-family: $primaryFont;
	font-weight: bold;
}

%h1 {
	@extend %heading;
	font-size: 36px;
	line-height: 40px;
}

%h2 {
	@extend %heading;
	font-size: 28px;
	line-height: 32px;
}

%h3,
%h4 {
	@extend %heading;
	font-size: 24px;
	line-height: 28px;
}

%h5,
%h6 {
	@extend %heading;
	font-size: 20px;
	line-height: #{$lineHeight}px;
}

%paragraph {
	color: #000;
	font-size: #{$fontSize}px;
	line-height: #{$lineHeight}px;
	-webkit-font-smoothing: antialiased;
}

h1,
.h1 {
	@extend %h1;
}

h2,
.h2 {
	@extend %h2;
}

h3,
.h3 {
	@extend %h3;
}

h4,
.h4 {
	@extend %h4;
}

h5,
.h5 {
	@extend %h5;
}

h6,
.h6 {
	@extend %h6;
}

a {
	color: $linkColor;
	text-decoration: none;
	outline: none !important;
	cursor: pointer;

	&:hover {
		color: darken($linkColor, 5%);
	}
}

p {
	@extend %paragraph;

	a {
		@extend %paragraph;
	}
}

b,
strong,
.bold {
	font-weight: bold;
}

i,
em,
.italic {
	font-style: italic;
}

u,
.underline {
	text-decoration: underline;
}

q,
blockquote {
	position: relative;
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.editorial {
	margin-bottom: #{$containerDivider}px;
}
.description {
	font-style: italic;
	margin-bottom: #{$containerDivider}px;
}
