// Urls
$urlFonts: '../fonts';
$urlImages: "../images";

// Colors
$facebook:      	#3B5998;
$twitter:       	#00ACED;
$linkedin:     		#007BB6;
$success: 			#00AF30;
$warning: 			#FFC800;
$danger: 			#D80000;

$primaryColor: 		#000;
$secondaryColor:	#000;
$modalColor:		#000;
$titleColor:		#000;
$paragraphColor:	#000;
$linkColor:			#000;

// Fonts
$Arial: 'Arial', Arial, sans-serif;
$primaryFont: $Arial;

$Arial2: 'Arial', Arial, sans-serif;
$secondaryFont: $Arial2;

// Paragraph baseline
$fontSize: 16;
$lineHeight: 24;

// Viewport
$breakpoint: 736;
$siteWidth: 1012;
$maxWidth: 980;
$sidebarWidth: 320;
$wrapper: $siteWidth;
$mainContentWidth: $maxWidth - $sidebarWidth;


// Skins

$leoSkin: 120;
$leoSkinMobile: calc(100% / 3.2);
$leoSkinMobileOverlayered: calc(100% / 3.2);
$leoViewmax: 224;
$leoViewmaxMobile: calc(100% / 1.7);

$headerHeight: 90;

// Grid system
$columns: 12;

$containerPadding: 8;
$containerGutter: 16;
$containerDivider: 32;

$elementPadding: 8;
$elementGutter: 10;
$elementDivider: 20;
