/* forms.twig styles */
@import "customVariables";
@import "mixins";

textarea, select, .chosen-container,
input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="email"],
input[type="month"], input[type="number"],
input[type="password"], input[type="search"],
input[type="tel"], input[type="text"],
input[type="time"], input[type="url"], input[type="week"] {
    display: block;
    width: 100%;
    height: inherit;
    min-height: 34px;
    color: #000;
    font-family: $primaryFont;
    font-style: italic;
    font-size: 15px;
    //font-weight: 700;
    line-height: 28px;
    text-align: left;
    vertical-align: middle;
    appearance:none;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid $lightAzure;
    border-radius: 4px;
    padding: 8px 10px;
    margin: 0;
    outline: 0;
    transition: border ease-out 0.3s;

    &::placeholder {
        color: #757575;
    }

    &:focus {
      border: none;
    }

    .newsletter__field & {

      &:focus {
        border: none;
      }
    }

    &[hidden] {
      display: none;
    }
}

input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="email"],
input[type="month"], input[type="number"],
input[type="password"], input[type="search"],
input[type="tel"], input[type="text"],
input[type="time"], input[type="url"], input[type="week"] {
  font-family: $primaryFont !important;

  &:focus {
    border: 1px solid $primaryColor;
  }
}

.dropdown {
    background-color: #f2f9fb !important;
    min-height: 32px;
    font-family: $primaryFont;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;

    @media screen and (max-width: #{$breakpoint}px) {
      background-image: url('#{$urlImagesFromPartial}/icons.svg') !important;
      background-position: right -7px top -2532px !important;
      background-repeat: no-repeat;
      padding-right: 40px !important;
    }
}

.newsletter__block {
  margin-bottom: 12px;
}

.newsletter__check {
    [type="radio"]:not(:checked), [type="radio"]:checked,
    [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
        position: absolute;
        left: 6px;
        bottom: -6px;
        width: 2px;
        height: 2px;
        border: none;
        appearance: none;
        opacity: 0;
        z-index: -1;
    }

    [type="radio"]:not(:checked) + label,
    [type="radio"]:checked + label,
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
        position: relative;
        display: block;
        min-height: 20px;
        line-height: 20px;
        padding: 0 0 0 24px;
        cursor: pointer;
    }

    [type="radio"]:not(:checked) + label:before,
    [type="radio"]:checked + label:before,
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid $lightGrey;
        border-radius: 50%;
    }

    [type="radio"]:not(:checked) + label::after,
    [type="radio"]:checked + label::after,
    [type="checkbox"]:not(:checked) + label::after,
    [type="checkbox"]:checked + label::after {
        content: '✓';
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        line-height: 24px;
        width: 20px;
        height: 20px;
        background-color: $primaryColor;
        border-radius: 50%;
        text-indent: 6px;
    }

    [type="radio"]:not(:checked) + label:after,
    [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
        transition: all 0.35s ease;
    }

    [type="radio"]:checked + label:after,
    [type="checkbox"]:checked + label:after {
        opacity: 1;
        transform: scale(1);
        transition: all 0.35s ease;
    }

    label {
        line-height: 20px;
    }

    .rad {
        @extend %cf;

        > fieldset {
            @extend %cf;
            width: 96px;
            float: left;

            > div {
                position: relative;
                width: 50%;
                float: left;
            }
        }

        > label {
            width: calc(100% - 96px);
            padding: 0 0 0 8px;
            float: left;
        }
    }
}

textarea {
    line-height: 28px;
    min-height: 100px;
    padding: 6px 10px;
}

.input-field {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 12px;

    > label {
        font-family: $primaryFont;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        margin-right: 10px;
        white-space: nowrap;

        &:empty {
          margin: 0;
        }
    }

    &.input-field--select {
        @media screen and (max-width: #{$breakpoint}px) {
            position: relative;

            // &:after {
            //     content: '↓';
            //     position: absolute;
            //     bottom: 0;
            //     right: 24px;
            //     color: #bbb;
            //     font-size: 16px;
            //     line-height: 44px;
            // }
        }
    }

    &.input-field--checkbox {

      input {
        appearance: none;
        border-radius: 50%;
        border: 1px solid transparentize($azure, 0.7%);
        min-width: 20px;
        height: 20px;
        position: relative;
        margin: 0;

        &:after {
          content: '✓';
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          padding-top: 2px;
          font-family: $primaryFont;
          font-size: 16px;
          color: #fff;
          text-indent: 5px;
        }

        &:checked {
          background-color: $primaryColor !important;
          border: none;

          &:after {
            opacity: 1;
          }

          &:hover {
            background-color: $primaryColor !important;
            border: none;

            &:after {
              opacity: 1;
            }
          }
        }

        &:hover {
          background-color: transparentize($azure, 0.3%) !important;
          border: none;

          &:after {
            opacity: 1;
          }
        }
      }

      label {
        color: #000;
        font-size: 15px;
        font-weight: normal;
        margin-left: 5px;
        padding-top: 3px;
      }
    }
}

// Prevent HTML5 hidden validation messages
select.chosen-select {
    @media screen and (min-width: #{$breakpoint +1}px) {
        display: block !important;
        position: absolute;
        left: 50%;
        bottom: 2px;
        width: 4px;
        height: 4px;
        min-height: 0;
        padding: 0;
        margin: 0 -2px 0 0;
        opacity: 0;
        z-index: -1;
    }
}

.chosen-container {
    width: 100% !important;
    border: none;
    padding: 0;
    min-height: 0;

    .chosen-single {
      background: #fff;
      border: 1px solid $lightAzure !important;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 46px;
      padding: 0 16px;
      position: relative;
      -webkit-box-shadow: 0 6px 20px rgba(200, 220, 227, 0.3);
      box-shadow: 0 6px 20px rgba(200, 220, 227, 0.3);
      text-decoration: none;
      white-space: nowrap;
      background-clip: padding-box;
      width: 100%;

      &:after {
          content: '';
          background-image: url('#{$urlImagesFromPartial}/icons.svg');
          background-position: 3px -2543px;
          height: 20px;
          width: 20px;
      }

      .version-select & {
        background: #f2f9fb !important;
        height: 32px;
        line-height: 30px;
        border: none;
        border-radius: 4px;
        box-shadow: none;
        padding: 0 10px;
        margin: 0;
        overflow: hidden;


        // &:after {
        //     content: '';
        //     background-image: url('#{$urlImagesFromPartial}/icons.svg');
        //     background-position: 3px -2543px;
        //     position: absolute;
        //     top: 5px;
        //     right: 8px;
        //     height: 20px;
        //     width: 20px;
        // }

        span {
            font-style: normal;
            font-weight: 700;
            display: block;
            color: #000;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-right: 24px;
            overflow: hidden;
        }
      }

      span {
        color: #757575;
      }
    }

  .chosen-search {
    box-shadow: 0 3px 8px -6px;
    padding: 8px;

    input[type=text] {
      background-color: rgba(255,255,255,0.5);
      border: none;
      padding: 0 16px;
    }
  }

  .chosen-results {

    li.no-results {
      background: none;
    }
  }

	&.chosen-container-active {
		span {
			color: #000;
		}

		&.chosen-with-drop {
	        .chosen-single {
	            background: $lightGrey;
	            border: none;
	            //border-radius: 21px 21px 0 0;
	            box-shadow: none;

	            // &:after {
	            //     content: '↑';
	            // }
	        }
	    }
	}

    .chosen-drop {
        display: none;
        position: absolute;
        top: 100%;
        width: 100%;
        background: rgba($lightGrey, 0.95);
        border: 1px solid $grey;
        border-radius: 0 0 4px 4px;
        box-shadow: none;
        z-index: 1010;
    }

    .chosen-results {
        max-height: 275px; // default
        //max-height: 147px; // 3.5 rows
        //max-height: 442px; // 10.5 rows
        color: #000;
        font-size: 14px;
        padding: 0 24px !important;
        margin: 0;

        li {
            color: #000;
            font-family: inherit;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 42px;
            padding: 0;
            margin: 0;

            &.highlighted {
                color: #000;
                background: transparent;
            }

            &:hover {
                color: $primaryColor;
            }

            &.result-selected,
            &.disabled-result
            &.result-selected:hover, &.disabled-result:hover {
                color: rgba(0,0,0,0.3);
                cursor: default;
                font-weight: 700;
            }
        }
    }

    .chosen-search {
        // display: none;
    }
}

.search__field {
    position: relative;

    input[type="text"] {
        padding: 0 194px 0 24px;
        @media screen and (max-width: #{$breakpoint}px) {
            padding: 0 148px 0 24px;
        }
    }

    .search__field__submit {
        position: absolute;
        top: 6px;
        right: 24px;
        color: #FFF;
        font-family: $primaryFont;
        font-size: 14px;
        font-weight: 600;
        line-height: 32px;
        text-align: center;
        text-transform: capitalize;
        background-color: $primaryColor;
        background-repeat: no-repeat;
        border-radius: 4px;
        padding: 0 48px;
        @media screen and (max-width: #{$breakpoint}px) {
            top: 4px;
            padding: 0 32px;
        }

        /*
        @media screen and (max-width: $breakpoint) {
            position: static;
            display: block;
            width: 100%;
            line-height: 42px;
            margin: 12px auto;
        }
        */

        &:hover {
            background-color: darken($primaryColor, 10%);
        }
    }
}

// Styles added to fix the issue with zoom in on iphone
// iPhone < 5
@media screen and (device-aspect-ratio: 2/3) {
    .newsletter__field__submit,
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"] {
        font-size: 13px !important;
    }
}

// iPhone 5, 5C, 5S, iPod Touch 5g
@media screen and (device-aspect-ratio: 40/71) {
    .newsletter__field__submit,
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"] {
        font-size: 13px !important;
    }
}

// iPhone 6, iPhone 6s, iPhone 7 portrait/landscape
@media screen and (device-aspect-ratio: 375/667) {
    .newsletter__field__submit,
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"] {
        font-size: 16px !important;
    }
}

// iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape
@media screen and (device-aspect-ratio: 9/16) {
    .newsletter__field__submit,
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"] {
        font-size: 16px !important;
    }
}
