/* partial-related-trend.twig styles */

.partial-related-trend {
    height: 40px;
    margin: 0 0 24px;
    overflow: hidden;

    .related-trend__wrapper {
        display: flex;
        text-align: center;
        justify-content: flex-start;
        height: 48px;
        padding: 0 24px;
        @media screen and (max-width: #{$breakpoint}px) {
            padding: 0 0 0 16px;
            overflow-x: auto;
        }

        > span {
            display: flex;
            min-width: 86px;
            line-height: 40px;
            @media screen and (max-width: #{$breakpoint}px) {
                min-width: 98px;
            }
        }

        > div {
            display: flex;

            .trend-slide {
                width: auto;
                min-width: 124px;
                max-width: 280px;
                height: 40px;
                border-radius: 4px;
                background-color: #FFF;
                background-repeat: no-repeat;
                background-position: 50%;
                background-size: cover;
                margin: 0 0 0 8px;
                overflow: hidden;

                &:last-child {
                    margin: 0 8px;
                }

                a {
                    display: block;
                    width: 100%;
                    color: #FFF;
                    line-height: 40px;
                    text-align: center;
                    text-shadow: 0 0 8px rgba(0,0,0,.3);
                    text-overflow: ellipsis;
                    text-decoration: none;
                    white-space: nowrap;
                    background-color: rgba(#000,.56);
                    transition: background-color .15s ease-in-out;
                    padding: 0 24px;

                    &:hover {
                        text-shadow: none;
                        //background-color: rgba($green,.92);
                        transition: background-color .15s ease-in-out;
                    }
                }
            }
        }
    }
}
