/* partial-newsletter.twig styles */

.partial-newsletter {
    @include clearfix;
    padding: 0 24px;
    margin: 0 auto 24px;
    @media screen and (max-width: #{$breakpoint}px) {
        padding: 0 16px;
    }

    .newsletter__pass-a {
        display: block; //temporary
    }

    .newsletter__pass-b {
        display: none; //temporary

        .newsletter__field__submit {
            position: static;
            line-height: 40px;
            margin: 24px 0 0;
        }
    }

    .newsletter__pass-a,
    .newsletter__pass-b {
        > p {
            margin: 0 0 8px;
            @media screen and (max-width: #{$breakpoint}px) {
                line-height: 28px;
            }
        }
    }
}

.newsletter__block {
    position: relative;
    margin: 0 0 12px;

    .input-field {
        &.input-field--select {
            min-height: 68px;
        }
    }
}

.newsletter__field {
    position: relative;

    input[type="text"],
    input[type="email"] {
        padding: 0 194px 0 24px;
        @media screen and (max-width: #{$breakpoint}px) {
            padding: 0 24px;
        }
    }

    .newsletter__field__submit {
        position: absolute;
        top: 6px;
        right: 24px;
        line-height: 32px;
        text-align: center;
        text-transform: capitalize;
        background-repeat: no-repeat;
        border-radius: 4px;
        padding: 0 48px;
        appearance: none;
        @media screen and (max-width: #{$breakpoint}px) {
            position: static;
            display: block;
            width: 100%;
            line-height: 42px;
            margin: 12px auto;
        }
    }
}

.newsletter__check {
    [type="radio"]:not(:checked), [type="radio"]:checked,
    [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
        position: absolute;
        left: 6px;
        bottom: -6px;
        width: 2px;
        height: 2px;
        border: none;
        appearance: none;
        opacity: 0;
        z-index: -1;
    }

    [type="radio"]:not(:checked) + label,
    [type="radio"]:checked + label,
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
        position: relative;
        display: block;
        min-height: 20px;
        line-height: 20px;
        padding: 0 0 0 24px;
        cursor: pointer;
    }

    [type="radio"]:not(:checked) + label:before,
    [type="radio"]:checked + label:before,
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #000;
        border-radius: 50%;
    }

    [type="radio"]:not(:checked) + label::after,
    [type="radio"]:checked + label::after,
    [type="checkbox"]:not(:checked) + label::after,
    [type="checkbox"]:checked + label::after {
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        width: 12px;
        height: 12px;
        background-color: #000;
        border-radius: 50%;
    }

    [type="radio"]:not(:checked) + label:after,
    [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
        transition: all 0.35s ease;
    }

    [type="radio"]:checked + label:after,
    [type="checkbox"]:checked + label:after {
        opacity: 1;
        transform: scale(1);
        transition: all 0.35s ease;
    }

    label {
        line-height: 20px;
    }

    .rad {
        @include clearfix;

        > fieldset {
            @include clearfix;
            width: 96px;
            float: left;

            > div {
                position: relative;
                width: 50%;
                float: left;
            }
        }

        > label {
            width: calc(100% - 96px);
            padding: 0 0 0 8px;
            float: left;
        }
    }
}

.notice {
    line-height: 40px;
    border-radius: 4px;
    padding: 0 16px;
    margin: 32px 0 0;

    &:empty {
        margin: 0;
    }
}
