/* partial-card-gallery-big--k2.twig styles */

.partial-card-gallery-big--k2 {
    @include clearfix;
    margin: 0 0 32px;
    overflow: hidden;
    @media screen and (min-width: $breakpoint + 1) {
        &:last-child {
            margin: 0;
        }
    }

    .card-gallery-big__figure {
        display: block;
        width: 100%;

        .card-gallery-big__image-wrapper {
            position: relative;
            width: 100%;
            height: 0;
            padding: 0 0 66.67%;
            overflow: hidden;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .card-gallery-big__photo-number {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                color: #FFF;
                line-height: 1;
                text-align: center;
                background-color: rgba(#000,.56);
                z-index: 3;
            }
        }

        .card-gallery-big__image-container {
            @include clearfix;
            padding: 2px 0 0;

            .card-gallery-big__image-wrapper {
                width: calc(50% - 1px);
                padding: 0 0 49.67%;
                margin: 0 2px 0 0;
                float: left;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }

    .card-gallery-big__content {
        position: relative;
        width: 100%;;
        padding: 8px 16px 0 0;

        a {
            display: block;
        }

        .card-gallery-big__story {
            position: relative;
            top: 0;
            left: 64px;
            display: inline-block;
            line-height: 16px;
            text-transform: lowercase;

            &:before {
                content: '';
                position: absolute;
                top: 8px;
                left: -64px;
                width: 56px;
                height: 1px;
                z-index: 2;
            }
        }

        .card-gallery-big__title {
            margin: 4px 0 0;

            h3 {
                line-height: 32px;
            }
        }
    }
}
