/* partial-innerrelated-post.twig styles */

.partial-innerrelated-post {
    width: 100%;
    max-width: 160px;
    padding: 0;
    margin: 0 24px 24px 0;
    float: left;

    .innerrelated-post__image-wrapper {
        display: block;
        width: 100%;
        margin: 0 0 8px;

        picture {
            position: relative;
            width: 100%;
            height: 0;
            padding: 0 0 66.67%;
            overflow: hidden;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }

    .innerrelated-post__title {
        display: block;

        h3 {
            line-height: 20px;
            padding: 0 !important;
            margin: 0;
        }
    }
}
