/* partial-single-gallery-slider--V1.twig styles */

@import "customVariables";

.partial-single-gallery-slider--V1 {

  .featured-image__box-image {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;

    picture {
      background-color: #ccc;
      padding-bottom: 0;
      height: auto;
      min-height: 235px;

      @media screen and (max-width: #{$breakpoint}px) {
        min-height: 150px;
        max-height: 190px;
      }

      &.fullscreen {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: auto;
      }

      img {
        position: static;
        transform: none;
        max-width: 100%;

        @media screen and (max-width: #{$breakpoint}px) {
          max-height: 100%;
        }
      }
    }

    .partial-social-bar--V1 {
      position: absolute;
      right: 0;
      top: 6px;
      z-index: 3;

      ul {
        flex-direction: column;

        li {
          margin-bottom: 6px;
        }
      }

      .social-bar__mail {
        display: none;
      }
    }
  }

  & > .featured-image__box-image {

    picture {
      background-color: #000;
    }

    @media screen and (max-width: #{$breakpoint}px) {

      picture {

        img {
          position: absolute;
          transform: translate(-50%, -50%);
          min-width: 0;
          max-height: 100%;
        }
      }
    }
  }

  .featured-image--fullwidth-image {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transition: all ease-out 0.3s;
    width: 80%;
    left: 10%;
    height: 100%;
    max-height: 96vmax;
    top: 0;
    z-index: 100;

    @media screen and (max-width: #{$breakpoint}px) {
      width: 96%;
      left: 2%;
    }

    &.visible {
      opacity: 1;
      visibility: visible;

      .featured-image__box-image {
        transform: scale(1,1);
        max-height: 96vmax;
      }
    }

    .featured-image__box-image {
      transform: scale(0.8,0.8);
      transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.4s;
      z-index: 101;

      .featured-image__picture-container {
        border-radius: 6px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        transform: translate(-50%,-50%);

        picture {
          max-height: 96vmin;
          overflow: auto;

          @media screen and (max-width: #{$breakpoint}px) {
            max-height: 96%;
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }

  .single-gallery-slider__nav {

    .button--expand, .button--collapse {
      position: absolute;
      right: 5px;
      top: 5px;

      @media screen and (max-width: #{$breakpoint}px) {
        //display: none;
      }
    }

    .button--next {
      cursor: pointer;
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }

    .button--prev {
      cursor: pointer;
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .single-gallery-slider__data {
    position: absolute;
    bottom: 20px;
    left: 20px;

    figcaption {
      font-weight: 700;
      color: #fff !important;
    }
  }

  &.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    transition: all ease-out 0.4s;
  }

  &.fullscreen {
    width: 80%;
    z-index: 100;
    top: 2%;
    left: 10%;
    height: 49vw;
  }
}
