/* partial-innercard-static-content.twig styles */
@import "../../customVariables";
@import "../../node_modules/rogiostrap/src/sass/core/mixins";
@import "../../mixins";

.partial-innercard-static-content {
    position: relative;

    .static-content__overlay {
        @extend %cf;
        padding: 0 24px;
        margin: 0 0 48px;
        @media screen and (max-width: #{$breakpoint}px) {
            padding: 0 16px;
        }

        .cta {
            position: relative;
            color: #FFF;
            text-decoration: none;
            padding: 0 96px 0 24px;
            &:after {
                content: "→";
                position: absolute;
                bottom: 0;
                right: 24px;
                color: #fff;
                font-size: 16px;
                line-height: inherit;
            }
        }
    }
}
