/* partial-progressbar.twig styles */

.partial-progressbar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: lighten(#000, 10%);
    z-index: 1;

    .progressbar__progress {
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        background-color: red;
    }
}
