/* partial-innerrelated-playervideo--inside.twig styles */

.partial-innerrelated-playervideo--inside {
    width: 100%;
    max-width: 420px;
    margin: 0 auto 24px;
    clear: both;

    .playervideo-wrapper {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;

        > div,
        > iframe,
        > object {
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }
    }
}
