/* partial-card-post-list--k2.twig styles */

.partial-card-post-list--k2 {
    @include clearfix;
    max-height: 200px;
    margin: 0 0 20px;
    overflow: hidden;
    @media screen and (max-width: #{$breakpoint}px) {
        max-height: 148px;
    }
    @media screen and (min-width: $breakpoint + 1) {
        &:last-child {
            margin: 0;
        }
    }

    .card-post-list__figure {
        display: block;
        width: 148px;
        float: left;
        @media screen and (max-width: #{$breakpoint}px) {
            width: 72px;
        }

        .card-post-list__image-wrapper {
            position: relative;
            width: 100%;
            height: 0;
            padding: 0 0 135.14%;
            overflow: hidden;
            @media screen and (max-width: #{$breakpoint}px) {
                padding: 0 0 205.56%;
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }

    .card-post-list__content {
        position: relative;
        width: calc(100% - 148px);
        padding: 48px 12px 0;
        float: left;
        @media screen and (max-width: #{$breakpoint}px) {
            width: calc(100% - 72px);
        }

        a {
            display: block;
        }

        .card-post-list__story {
            position: absolute;
            top: 12px;
            left: 24px;
            line-height: 16px;
            text-transform: lowercase;

            &:before {
                content: '';
                position: absolute;
                top: 8px;
                left: -64px;
                width: 56px;
                height: 1px;
                z-index: 2;
            }
        }

        .card-post-list__title {
            margin: 0;

            h3 {
                line-height: 32px;

                // Line-clamp: http://dropshado.ws/post/1015351370/webkit-line-clamp
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;

                padding: 0 0 4px;

                @media screen and (max-width: #{$breakpoint}px) {
                    line-height: 24px;
                    -webkit-line-clamp: 4;
                    padding: 0;
                }
            }
        }

        .card-post-list__abstract {
            // Line-clamp: http://dropshado.ws/post/1015351370/webkit-line-clamp
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            @media screen and (max-width: #{$breakpoint}px) {
                display: none;
            }
        }
    }
}
