/* partial-card-post-big--k2.twig styles */

.partial-card-post-big--k2 {
    @include clearfix;
    margin: 0 0 32px;
    overflow: hidden;
    @media screen and (min-width: $breakpoint + 1) {
        &:last-child {
            margin: 0;
        }
    }

    .card__thumbnail--big {
        display: block;
        width: 100%;
        margin: 0 0 8px;

        picture {
            position: relative;
            width: 100%;
            height: 0;
            padding: 0 0 66.67%;
            overflow: hidden;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }

    .card-post__story {
        position: relative;
        top: 0;
        left: 64px;
        display: inline-block;
        line-height: 16px;
        text-transform: lowercase;

        &:before {
            content: '';
            position: absolute;
            top: 8px;
            left: -64px;
            width: 56px;
            height: 1px;
            z-index: 2;
        }
    }

    .card__title {
        margin: 4px 0 0;

        h3 {
            line-height: 32px;
            text-transform: none;
        }
    }

    .card__content {
        margin: 0 0 16px;

        .abstract {
            // Line-clamp: http://dropshado.ws/post/1015351370/webkit-line-clamp
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .card__releted-posts {
        ul {
            padding: 0 0 0 42px;
            margin: 0;

            li {
                position: relative;
                margin: 0 0 16px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 11px;
                    left: -42px;
                    width: 32px;
                    height: 1px;
                }

                &:last-child {
                    margin: 0;
                }

                a {
                    display: block;
                    line-height: 24px;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}
