/* search-form.twig styles */

@import "customVariables";
@import "../../node_modules/rogiostrap/src/sass/core/mediaqueries";
@import "mixins";

.search-form {

}

/* slide-search.twig styles */

.slide-search {
	display: flex;
	align-items: center;
	position: relative;
	padding: 0 !important;
	cursor: pointer;

	@include smartphone {
		position: static;
		width: 50px;
		height: 50px;
		margin: 0;
	}

	.slide-search__lens {
		padding: 12px;

		@include smartphone {
			padding: 18px 12px 12px;
		}
	}


	.slide-search__container {
		position: absolute;
		//width: 0;
		opacity: 0;
		visibility: hidden;
		//overflow: hidden;
		top: -5px;
		right: -20px;
		transition: all ease-out 0.15s;
		z-index: 4;

		@include smartphone {
			top: -60px;
			right: 0 !important;
		}

		&.opened {
			opacity: 1;
			visibility: visible;
			right: -2px;
			width: 980px;

			@media screen and (max-width: 1300px) {
				width: calc(100vw - 360px);
			}

			@include smartphone {
				width: 100%;
				top: 16px;
			}
		}

		.slide-search__input {
			background: #fff;
			display: flex;
			align-items: center;
			margin-right: -8px;
			width: 100%;
			padding: 0 5px;

			// body.leo-skin &, body.leo-viewmax & {
			// 	width: 700px;
			// }

			@media screen and (max-width: 1024px) {
				//width: 700px;
			}

			@include smartphone {
				width: 100% !important;
			}

			form {
				width: calc(100% - 50px);
			}

			.btn--close {
				padding: 12px;
				margin-left: 5px;
			}
		}
	}
}

.slide-search__input__field {
	border: 1px solid $lightGrey;
	display: flex;
	align-items: center;
	//background: #fff;
	padding: 4px 5px;
	transition: all ease-out 0.3s;

	&.focused {
		border: 1px solid $secondaryColor;
	}

	input {
		border: none;
		color: #fff;
		min-width: 0;

		&:focus {
			border: none !important;
		}
	}

	.chosen-single {
		background: $secondaryColor url('#{$urlImagesFromPartial}/select-caret-light.svg') no-repeat right 15px center;
    border: 1px solid transparent;
    color: #fff;

		&:hover {
			background: darken($secondaryColor, 25%) url('#{$urlImagesFromPartial}/select-caret-light.svg') no-repeat right 15px center;
		}
	}

	> div:last-child {
		margin-left: auto;
		display: flex;
		align-items: center;

		> span {
			color: $darkGrey;
			font-weight: normal;
		}

		.dropdown {
			margin-left: 3px;

			@include smartphone {
				font-size: 12px
			}
		}
	}
}
