/* partial-card-gallery-small--k2.twig styles */

.partial-card-gallery-small--k2 {
    @include clearfix;
    max-height: 148px;
    margin: 0 0 20px;
    overflow: hidden;
    @media screen and (min-width: $breakpoint + 1) {
        &:last-child {
            margin: 0;
        }
    }

    .card-gallery-small__figure {
        display: block;
        width: 72px;
        float: left;

        .card-gallery-small__image-wrapper {
            position: relative;
            width: 100%;
            height: 0;
            padding: 0 0 101.4%;
            margin: 0 0 2px;
            overflow: hidden;

            &:last-child {
                margin: 0;
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .card-gallery-small__photo-number {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                color: #FFF;
                line-height: 1;
                text-align: center;
                background-color: rgba(#000,.56);
                z-index: 3;
            }
        }
    }

    .card-gallery-small__content {
        position: relative;
        width: calc(100% - 72px);
        padding: 48px 12px 0;
        float: left;

        a {
            display: block;
        }

        .card-gallery-small__story {
            position: absolute;
            top: 12px;
            left: 24px;
            line-height: 16px;
            text-transform: lowercase;

            &:before {
                content: '';
                position: absolute;
                top: 8px;
                left: -64px;
                width: 56px;
                height: 1px;
                z-index: 2;
            }
        }

        .card-gallery-small__title {
            margin: 0;

            h4 {
                line-height: 25px;

                // Line-clamp: http://dropshado.ws/post/1015351370/webkit-line-clamp
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;

                padding: 0 0 1px;
            }
        }
    }
}
