/* partial-card-gallery-semihero--fuji.twig styles */

.partial-card-gallery-semihero--fuji {
    @include clearfix;
    @media screen and (min-width: $breakpoint + 1) {
        &:last-child {
            margin: 0;
        }
    }

    .gallery-semihero__figure {
        @include clearfix;
        display: block;

        .gallery-semihero__image-wrapper {
            position: relative;
            width: 80.314%;
            height: 0;
            padding: 0 0 39.063%;
            overflow: hidden;
            float: left;
            @media screen and (max-width: #{$breakpoint}px) {
                width: 100%;
                padding: 0 0 66.67%;
                margin: 0 0 2px;
                float: none;
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .gallery-semihero__photo-number {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                color: #FFF;
                line-height: 1;
                text-align: center;
                background-color: rgba(#000,.56);
                z-index: 3;
            }
        }

        .gallery-semihero__image-container {
            @include clearfix;
            width: 19.686%;
            padding: 0 0 0 2px;
            float: left;
            @media screen and (max-width: #{$breakpoint}px) {
                width: 100%;
                padding: 0;
                float: none;
            }

            .gallery-semihero__image-wrapper {
                width: 100%;
                padding: 0 0 100%;
                margin: 0 0 2px;
                float: none;
                @media screen and (max-width: #{$breakpoint}px) {
                    width: calc(50% - 1px);
                    padding: 0 0 49.67%;
                    margin: 0 2px 0 0;
                    float: left;
                }

                &:last-child {
                    margin: 0;
                }
            }
        }
    }

    .gallery-semihero__content {
        position: relative;
        padding: 56px 24px 0;
        @media screen and (max-width: #{$breakpoint}px) {
            padding: 36px 0 0;
        }

        a {
            display: block;
        }

        .gallery-semihero__story {
            position: absolute;
            top: 24px;
            left: 64px;
            line-height: 16px;
            text-transform: lowercase;
            @media screen and (max-width: #{$breakpoint}px) {
                top: 12px;
            }

            &:before {
                content: '';
                position: absolute;
                top: 8px;
                left: -64px;
                width: 56px;
                height: 1px;
                z-index: 2;
            }
        }

        .gallery-semihero__title {
            margin: 0 0 8px;

            h2 {
                line-height: 48px;
                @media screen and (max-width: #{$breakpoint}px) {
                    line-height: 32px;
                }
            }
        }

        .gallery-semihero__abstract {
            margin: 0 0 16px;

            // Line-clamp: http://dropshado.ws/post/1015351370/webkit-line-clamp
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
