/* partial-author.twig styles */
@import "customVariables";
@import "mixins";

.partial-author {

          @extend %cf;
          padding: 8px 24px;
          @media screen and (max-width: #{$breakpoint}px) {
              padding: 12px 16px 0;
          }

          time {
              position: relative;
              display: block;
              line-height: 32px;
              text-transform: capitalize;
              float: left;

              &:before {
                  content: '';
                  position: absolute;
                  top: 50%;
                  left: -78px;
                  width: 64px;
                  height: 1px;
                  background-color: #000;
                  @media screen and (max-width: #{$breakpoint}px) {
                      top: auto;
                      bottom: 32px;
                      left: 16px;
                      width: 1px;
                      height: 32px;
                  }
              }
          }

          > div {
              width: 280px;
              float: left;
              @media screen and (max-width: #{$breakpoint}px) {
                  width: 100%;
                  margin: 0 0 40px;
                  float: none;
              }

              .author__info {
                  @extend %cf;
                  .author__figure {
                      display: block;
                      width: 32px;
                      margin: 0 8px 0 0;
                      float: left;

                      .author__image-wrapper {
                          position: relative;
                          width: 100%;
                          height: 0;
                          border-radius: 100%;
                          padding: 0 0 100%;
                          overflow: hidden;

                          img {
                              position: absolute;
                              width: 100%;
                              height: 100%;
                              border-radius: 100%;
                          }
                      }
                  }

                  a {
                      display: block;
                      font-weight: 400;
                      text-decoration: none;
                  }

                  .author__name {
                      color: $primaryColor;
                      line-height: 32px;

                      &:hover {
                        color: darken($primaryColor, 20%);
                      }
                  }
              }
          }

}
