/* partial-card-social-instagram--k2.twig styles */

.partial-card-social-instagram--k2 {
    @include clearfix;
    border: 1px solid $grey;
    padding: 14px;
    margin: 0 0 20px;
    overflow: hidden;

    &:last-child {
        margin: 0;
    }

    .card-social__image {
        width: 72px;
        height: 72px;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        border-radius: 100%;
        padding: 2px;
        float: left;

        .image-wrapper {
            width: 68px;
            height: 68px;
            background-color: #FFF;
            border-radius: 100%;
            padding: 16px;
        }
    }

    .card-social__content {
        width: calc(100% - 72px);
        padding: 1px 14px 0;
        float: left;

        h3 {
            color: $dark;
            font-family: $primaryFont;
            font-size: 15px;
            line-height: 32px;
        }

        .cta {
            display: block;
            line-height: 32px;
            padding: 0 8px;
            margin: 0;

            &.cta--instagram {
                color: $instagram;
                background-color: #FFF;
                border: 1px solid $instagram;

                &:hover {
                    color: $instagram !important;
                    background-color: #F6F6F6;
                }
            }
        }
    }
}
