/* partial-static-adv.twig styles */

.partial-static-adv {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    @media screen and (max-width: #{$breakpoint}px) {
        min-height: 0;
    }

    .static-element {
        transition: none !important;

        .static-adv {
            position: relative;

            > * {
                position: relative;
                padding: 0;
                margin: 0;
            }

            #div-gpt-ad-headofpage,
            #div-gpt-ad-leaderboard_m,
            #div-gpt-ad-vmx-mobile-passback {
                border: 1px solid $grey;
                padding: 4px;
                margin: 0 auto 20px;
                overflow: hidden;

                > * {
                    display: block !important;
                    border: none !important;
                    padding: 0 !important;
                    margin: 0 auto !important;
                }
            }

            #div-gpt-ad-headofpage {
                border: none;
            }
        }
    }
}
