/* partial-social-bar--V1.twig styles */
@import "customVariables";
@import "mixins";

.partial-social-bar--V1 {

    ul {
      display: flex;

      li {
        margin-right: 5px;

        a {
          @extend %iconsFromPartial;
          display: block;
          width: 36px;
          height: 36px;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      .social-bar__mail {

        a {
          background-position: 0 -666px;
        }
      }

      .social-bar__fb {

        a {
          background-position: 0 -732px;
        }
      }

      .social-bar__tw {

        a {
          background-position: 0 -799px;
        }
      }
    }
}
