/* partial-sticky-adv.twig styles */
@import "customVariables";

.partial-sticky-adv {
    width: 300px;
    min-height: 250px;
    max-height: 600px;
    margin: 0 auto;
    @media screen and (max-width: #{$breakpoint}px) {
        min-height: 0;
    }

    .sticky-element {
        width: 300px;
        min-height: 250px;
        background-color: $lightGrey;
        margin: 0;
        transition: none !important;

        // Improve performance of a fixed element
        backface-visibility: hidden;

        // Will-change
        // https://developers.google.com/web/fundamentals/performance/rendering/simplify-paint-complexity-and-reduce-paint-areas
        will-change: top, scroll-position;

        @media screen and (max-width: #{$breakpoint}px) {
            min-height: 0;
        }
    }
}

.sticky-adv {
    position: relative;
    width: 300px;
    min-height: 250px;
    background: $lightGrey url('../images/logo-grey--small.svg') no-repeat 50% 44%;
    background-size: 48px auto;
    margin: 0 auto;
    padding-bottom: 20px;

    @media screen and (max-width: #{$breakpoint}px) {
        background: transparent;
        min-height: 0;
    }

    &:before {
        content: 'advertising';
        position: absolute;
        top: 55%;
        left: 0;
        width: 100%;
        color: #bbb;
        font-size: 13px;
        font-weight: 600;
        line-height: 32px;
        text-transform: uppercase;
        text-align: center;
        z-index: 0;
        @media screen and (max-width: #{$breakpoint}px) {
            display: none;
        }
    }

    > * {
        position: relative;
        padding: 0;
        margin: 0;
    }
}
