/* partial-card-gallery-list--k2.twig styles */

.partial-card-gallery-list--k2 {
    @include clearfix;
    max-height: 200px;
    margin: 0 0 20px;
    overflow: hidden;
    @media screen and (min-width: $breakpoint + 1) {
        &:last-child {
            margin: 0;
        }
    }

    .card-gallery-list__figure {
        display: block;
        width: 148px;
        float: left;

        .card-gallery-list__image-wrapper {
            position: relative;
            width: 100%;
            height: 0;
            padding: 0 0 84.46%;
            overflow: hidden;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .card-gallery-list__photo-number {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                color: #FFF;
                line-height: 1;
                text-align: center;
                background-color: rgba(#000,.56);
                z-index: 3;
            }
        }

        .card-gallery-list__image-container {
            @include clearfix;
            padding: 2px 0 0;

            .card-gallery-list__image-wrapper {
                width: 73px;
                padding: 0 0 49.33%;
                margin: 0 2px 0 0;
                float: left;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }

    .card-gallery-list__content {
        position: relative;
        width: calc(100% - 148px);
        padding: 48px 12px 0;
        float: left;

        a {
            display: block;
        }

        .card-gallery-list__story {
            position: absolute;
            top: 12px;
            left: 24px;
            line-height: 16px;
            text-transform: lowercase;

            &:before {
                content: '';
                position: absolute;
                top: 8px;
                left: -64px;
                width: 56px;
                height: 1px;
                z-index: 2;
            }
        }

        .card-gallery-list__title {
            margin: 0;

            h3 {
                line-height: 32px;

                // Line-clamp: http://dropshado.ws/post/1015351370/webkit-line-clamp
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;

                padding: 0 0 4px;

                @media screen and (max-width: #{$breakpoint}px) {
                    padding: 0;
                }
            }
        }
    }
}
