/* partial-card-video-small--k2.twig styles */

.partial-card-video-small--k2 {
    @include clearfix;
    max-height: 148px;
    margin: 0 0 20px;
    overflow: hidden;
    @media screen and (min-width: $breakpoint + 1) {
        &:last-child {
            margin: 0;
        }
    }

    .card-video-small__figure {
        display: block;
        width: 72px;
        float: left;

        .card-video-small__image-wrapper {
            position: relative;
            width: 100%;
            height: 0;
            padding: 0 0 205.56%;
            overflow: hidden;

            .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -16px;
                margin-left: -16px;
                z-index: 2;
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }

    .card-video-small__content {
        position: relative;
        width: calc(100% - 72px);
        padding: 48px 12px 0;
        float: left;

        a {
            display: block;
        }

        .card-video-small__story {
            position: absolute;
            top: 12px;
            left: 24px;
            line-height: 16px;
            text-transform: lowercase;

            &:before {
                content: '';
                position: absolute;
                top: 8px;
                left: -64px;
                width: 56px;
                height: 1px;
                z-index: 2;
            }
        }

        .card-video-small__title {
            margin: 0;

            h4 {
                line-height: 25px;

                // Line-clamp: http://dropshado.ws/post/1015351370/webkit-line-clamp
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;

                padding: 0 0 1px;
            }
        }
    }
}
