/* partial-card-video-hero--fuji.twig styles */

.partial-card-video-hero--fuji {
    @include clearfix;
    @media screen and (min-width: $breakpoint + 1) {
        &:last-child {
            margin: 0;
        }
    }

    .video-hero__figure {
        display: block;

        .video-hero__image-wrapper {
            position: relative;
            width: 100%;
            height: 0;
            padding: 0 0 100%;
            overflow: hidden;
            @media screen and (max-width: #{$breakpoint}px) {
                padding: 0 0 66.67%;
            }

            .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -48px;
                margin-left: -48px;
                z-index: 2;
                @media screen and (max-width: #{$breakpoint}px) {
                    width: 72px;
                    height: 72px;
                    margin-top: -36px;
                    margin-left: -36px;
                }
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }

    .video-hero__content {
        position: relative;
        padding: 56px 24px 0;
        @media screen and (max-width: #{$breakpoint}px) {
            padding: 36px 0 0;
        }

        a {
            display: block;
        }

        .video-hero__story {
            position: absolute;
            top: 24px;
            left: 24px;
            line-height: 16px;
            text-transform: lowercase;
            @media screen and (max-width: #{$breakpoint}px) {
                top: 12px;
                left: 64px;
            }

            &:before {
                content: '';
                position: absolute;
                top: 8px;
                left: -64px;
                width: 56px;
                height: 1px;
                z-index: 2;
            }
        }

        .video-hero__title {
            margin: 0 0 8px;

            h2 {
                line-height: 48px;
                @media screen and (max-width: #{$breakpoint}px) {
                    line-height: 32px;
                }
            }
        }

        .video-hero__abstract {
            margin: 0 0 32px;

            // Line-clamp: http://dropshado.ws/post/1015351370/webkit-line-clamp
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            @media screen and (max-width: #{$breakpoint}px) {
                margin: 0 0 16px;
            }
        }
    }

    .video-hero__related {
        ul {
            padding: 0 0 0 42px;
            margin: 0;

            li {
                position: relative;
                margin: 0 0 16px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 11px;
                    left: -42px;
                    width: 32px;
                    height: 1px;
                }

                &:last-child {
                    margin: 0;
                }

                a {
                    display: block;
                    line-height: 24px;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}
