/* partial-card-social-facebook--k2.twig styles */

.partial-card-social-facebook--k2 {
    @include clearfix;
    border: 1px solid $grey;
    padding: 14px;
    margin: 0 0 20px;
    overflow: hidden;

    &:last-child {
        margin: 0;
    }

    .card-social__image {
        width: 72px;
        height: 72px;
        background-color: #EEE;
        border-radius: 100%;
        padding: 2px;
        float: left;

        .image-wrapper {
            width: 68px;
            height: 68px;
            background-color: #FFF;
            border-radius: 100%;
            padding: 16px;
        }
    }

    .card-social__content {
        width: calc(100% - 72px);
        padding: 1px 14px 0;
        float: left;

        h3 {
            color: $dark;
            font-family: $primaryFont;
            font-size: 15px;
            line-height: 32px;
        }

        .cta {
            display: block;
            line-height: 32px;
            padding: 0 8px;
            margin: 0;

            &.cta--facebook {
                background-color: $facebook;

                &:hover {
                    background-color: darken($facebook, 10%);
                }
            }
        }
    }
}
