/* partial-breadcrumb.twig styles */
@import "customVariables";

.partial-breadcrumb {
	padding: 0;
	margin: 0 0 24px;
	overflow: hidden;
	@media screen and (max-width: #{$breakpoint}px) {
		height: 24px;
	}

	nav {
		overflow: hidden;
		@media screen and (max-width: #{$breakpoint}px) {
			height: 32px;
			overflow-x: auto;
		}

		ul {
			display: flex;
			align-items: flex-start;
			@media screen and (max-width: #{$breakpoint}px) {
				align-items: center;
				white-space: nowrap;
			}

			li {
				position: relative;
				display: flex;
				align-items: center;
				line-height: 24px;
				padding-right: 24px;
		    margin-right: 10px;

				&:after {
            content: '››';
            position: absolute;
						color: $lightGrey;
						font-size: 24px;
						top: -1px;
	    			right: 0;
            display: block;
            line-height: 24px;
      	}

				&:last-child {
					margin-right: 0;

					&:after {
						display: none;
					}
				}

				a {
						color: $primaryColor;
						font-weight: 700;
	    			line-height: 24px;
						position: relative;

						&:after {
							content: '';
							position: absolute;
							bottom: 0;
							width: 100%;
							height: 1px;
							background-color: $primaryColor;
							left: 0;
						}

						&:hover {
							color: darken($primaryColor, 15%);
						}
				}

				.current-item {
					display: block;
					max-width: 360px;
					white-space: nowrap;
				    overflow: hidden;
				    text-overflow: ellipsis;
					@media screen and (max-width: #{$breakpoint}px) {
						max-width: none;
						overflow: visible;
						text-overflow: inherit;
					}
				}
			}
		}
	}
}
