/* partial-innerrelated-video.twig styles */

.partial-innerrelated-video {
    width: 100%;
    max-width: 160px;
    padding: 0;
    margin: 0 24px 24px 0;
    float: left;

    .innerrelated-video__image-wrapper {
        display: block;
        width: 100%;
        margin: 0 0 8px;

        picture {
            position: relative;
            width: 100%;
            height: 0;
            padding: 0 0 66.67%;
            overflow: hidden;

            .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -16px;
                margin-left: -16px;
                z-index: 2;
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }

    .innerrelated-video__title {
        display: block;

        h3 {
            line-height: 20px;
            padding: 0 !important;
            margin: 0;
        }
    }
}
