/* partial-single-card-inner-header.twig styles */

@import "customVariables";

.partial-single-card-inner-header {

  .static-content__header {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $lightGrey;

      .header__prev,
      .header__next {
          //position: absolute;
          //top: 20px;
          display: block;
      }

      .header__prev {
          margin-right: 58px;

          @media screen and (max-width: #{$breakpoint}px) {
              margin-right: 0;
          }
      }

      .header__next {
          //right: 24px;
      }

      .header__nav {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 8px 0;

          span {
              color: #757575;
              font-size: 16px;
              line-height: 24px;
              padding: 0 16px;

              &.nav__number {
                  width: 42px;
                  height: 42px;
                  color: #000;
                  font-size: 20px;
                  font-weight: 700;
                  line-height: 45px;
                  text-align: center;
                  background-color: $lightGrey;
                  border-radius: 100%;
                  padding: 0;
              }
          }
      }

      .social-bar__mail {
        display: none;
      }
  }
}
