/* partial-video-player.twig styles */

@import "customVariables";

.partial-video-player {
  margin-bottom: 20px;
  
  .video-player__container {
    padding-bottom: 56.25%;
    position: relative;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}
