/* partial-innercard-static-cover.twig styles */

.partial-innercard-static-cover {
    position: relative;

    .static-cover__overlay {
        @include clearfix;
        padding: 0 24px;
        margin: 0 0 48px;
        @media screen and (max-width: #{$breakpoint}px) {
            padding: 0 16px;
        }

        .cta {
            position: relative;
            color: #FFF;
            text-decoration: none;
            padding: 0 96px 0 24px;
            &:after {
                content: "→";
                position: absolute;
                bottom: 0;
                right: 24px;
                color: #fff;
                font-size: 16px;
                line-height: inherit;
            }
        }
    }
}
