/* partial-innerrelated-playervideo--aside.twig styles */

.partial-innerrelated-playervideo--aside {
    width: 100%;
    max-width: 420px;
    margin: 0 24px 24px 0;
    float: left;
    @media screen and (max-width: #{$breakpoint}px) {
        margin: 0 auto 24px;
        float: none;
    }

    .playervideo-wrapper {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;

        > div,
        > iframe,
        > object {
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }
    }
}
