/* partial-slider-trend--montebianco.twig styles */

.partial-slider-trend--montebianco {
    position: relative;
    height: 80px;
    padding: 20px 0;
    overflow: hidden;

    .swiper-wrapper {

        // will-change
        // https://developers.google.com/web/fundamentals/performance/rendering/simplify-paint-complexity-and-reduce-paint-areas
        will-change: transform;
        transform: translateZ(0);

        &.swiper-wrapper--centered {
            justify-content: center;
        }

        .swiper-slide {
            height: 40px;

            &.trend-slide {
                width: auto;
                min-width: 124px;
                max-width: 280px;
                border-radius: 4px;
                background-color: #FFF;
                background-repeat: no-repeat;
                background-position: 50%;
                background-size: cover;
                margin: 0 0 0 8px;
                overflow: hidden;

                &:last-child {
                    margin: 0 8px;
                }

                a {
                    display: block;
                    width: 100%;
                    color: #FFF;
                    line-height: 40px;
                    text-align: center;
                    text-shadow: 0 0 8px rgba(0,0,0,.3);
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    background-color: rgba(#000,.56);
                    transition: background-color .15s ease-in-out;
                    padding: 0 24px;

                    &:hover {
                        text-shadow: none;
                        //background-color: rgba($green,.92);
                        transition: background-color .15s ease-in-out;
                    }
                }
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 10%;
        width: 48px;
        height: 80%;
        background-color: #FFF;
        background-image: none;
        padding: 20px 12px;
        margin: 0;
        user-select: none;
        opacity: 0;
        transition: .2s ease-in opacity;
        @media screen and (max-width: #{$breakpoint}px) {
            display: none;
        }

        &:hover,
        &:focus {
            outline: none !important;
        }

        &.swiper-button-disabled {
            display: none;
        }
    }

    .swiper-button-next {
        right: 0;
        border-left: 1px solid #000;
    }

    .swiper-button-prev {
        left: 0;
        border-right: 1px solid #000;
    }

    &:hover {
        .swiper-button-next,
        .swiper-button-prev {
            opacity: 1;
        }
    }
}
