/* partial-related-tag.twig styles */

.partial-related-tag {
    height: 28px;
    margin: 24px 0;
    overflow: hidden;

    .related-tag__wrapper {
        display: flex;
        text-align: center;
        justify-content: flex-start;
        height: 36px;
        padding: 0 24px;
        @media screen and (max-width: #{$breakpoint}px) {
            padding: 0 0 0 16px;
            overflow-x: auto;
        }

        > span {
            display: flex;
            min-width: 132px;
            line-height: 24px;
            @media screen and (max-width: #{$breakpoint}px) {
                min-width: 148px;
                line-height: 28px;
            }
        }

        > ul {
            display: flex;

            .tag-slide {
                margin: 0 0 0 8px;

                a {
                    line-height: 24px;
                    text-decoration: underline;
                    text-transform: capitalize;
                    @media screen and (max-width: #{$breakpoint}px) {
                        line-height: 28px;
                    }
                }
            }
        }
    }
}
