/* partial-pagination.twig styles */

.partial-pagination {
    padding: 24px 0 0;
    margin: 0 0 48px;
    @media screen and (max-width: #{$breakpoint}px) {
        padding: 0;
    }

    .pagination__spacer {
        display: block;
        line-height: 18px;
        text-align: center;
        margin: 12px 0;
    }

    .pagination--standard {
        @include clearfix;

        ul {
            position: relative;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            &:before {
                content: '';
                position: absolute;
                top: 20px;
                left: 0;
                width: 100%;
                height: 1px;
                z-index: 1;
            }

            li {
                position: relative;
                min-width: 40px;
                line-height: 40px;
                text-align: center;
                padding: 0 4px;
                z-index: 2;
                @media screen and (max-width: #{$breakpoint}px) {
                    padding: 4px;
                }

                a {
                    display: block;
                    min-width: 40px;
                    color: #FFF;
                    line-height: 38px;
                    text-align: center;
                    background-color: #000;
                    border: 1px solid #000;
                    border-radius: 4px;
                    padding: 0;

                    &.current {
                        cursor: default;
                        pointer-events: none;
                        color: #000;
                        background-color: #FFF;
                    }

                    &.next,
                    &.prev {
                        padding: 0 24px;
                    }
                }

                .current {
                    display: block;
                    min-width: 40px;
                    line-height: 38px;
                    text-align: center;
                    background-color: #FFF;
                    border: 1px solid #000;
                    border-radius: 4px;
                    padding: 0;
                    cursor: default;
                    pointer-events: none;
                }
            }
        }
    }

    .pagination__field {
        position: relative;
        max-width: 320px;
        margin: 0 auto;

        input[type="text"],
        input[type="number"] {
            padding: 0 128px 0 24px;
        }

        .pagination__field__submit {
            position: absolute;
            top: 6px;
            right: 24px;
            color: #FFF;
            line-height: 32px;
            text-align: center;
            background-color: #000;
            background-repeat: no-repeat;
            border-radius: 4px;
            padding: 0 32px;
            @media screen and (max-width: #{$breakpoint}px) {
                top: 5px;
            }
        }
    }
}
