/* partial-card-gallery-hero--fuji.twig styles */

.partial-card-gallery-hero--fuji {
    @include clearfix;
    @media screen and (min-width: $breakpoint + 1) {
        &:last-child {
            margin: 0;
        }
    }

    .gallery-hero__figure {
        display: block;

        .gallery-hero__image-wrapper {
            position: relative;
            width: 100%;
            height: 0;
            padding: 0 0 66.67%;
            overflow: hidden;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .gallery-hero__photo-number {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                color: #FFF;
                line-height: 1;
                text-align: center;
                background-color: rgba(#000,.56);
                z-index: 3;
                @media screen and (max-width: #{$breakpoint}px) {
                    font-size: 24px;
                }
            }
        }

        .gallery-hero__image-container {
            @include clearfix;
            padding: 2px 0 0;

            .gallery-hero__image-wrapper {
                width: calc(33.268% - 1px);
                padding: 0 0 33.062%;
                margin: 0 2px 0 0;
                float: left;
                @media screen and (max-width: #{$breakpoint}px) {
                    width: calc(33.223% - 1px);
                }

                &:last-child {
                    margin: 0;
                }
            }
        }
    }

    .gallery-hero__content {
        position: relative;
        padding: 56px 24px 0;
        @media screen and (max-width: #{$breakpoint}px) {
            padding: 36px 0 0;
        }

        a {
            display: block;
        }

        .gallery-hero__story {
            position: absolute;
            top: 24px;
            left: 24px;
            line-height: 16px;
            text-transform: lowercase;
            @media screen and (max-width: #{$breakpoint}px) {
                top: 12px;
                left: 64px;
            }

            &:before {
                content: '';
                position: absolute;
                top: 8px;
                left: -64px;
                width: 56px;
                height: 1px;
                z-index: 2;
            }
        }

        .gallery-hero__title {
            margin: 0 0 8px;

            h2 {
                line-height: 48px;
                @media screen and (max-width: #{$breakpoint}px) {
                    line-height: 32px;
                }
            }
        }

        .gallery-hero__abstract {
            margin: 0 0 32px;

            // Line-clamp: http://dropshado.ws/post/1015351370/webkit-line-clamp
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            @media screen and (max-width: #{$breakpoint}px) {
                margin: 0 0 16px;
            }
        }
    }

    .gallery-hero__related {
        ul {
            padding: 0 0 0 42px;
            margin: 0;

            li {
                position: relative;
                margin: 0 0 16px;

                &:before {
                    content: '';
                    position: absolute;
                    top: 11px;
                    left: -42px;
                    width: 32px;
                    height: 1px;
                }

                &:last-child {
                    margin: 0;
                }

                a {
                    display: block;
                    line-height: 24px;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}
