/* partial-promobox.twig styles */

@import "customVariables";

.partial-promobox {
    margin: 0 auto 20px;

    > a {

      > div {
        display: flex;
        align-items: center;
        min-height: 100px;
        padding: 14px;
        border: 2px solid transparent;
        transition: border ease-out 0.2s;
      }

      &:hover {
        color: #000;

        > div {

          .item__right-arrow {
            background-position: 0 -1368px;
          }
        }
      }
    }

    .promobox__brand {
      min-width: 100px;
    }

    .promobox__content {
      padding: 0 14px;
      font-style: italic;
    }

    &:empty {
      display: none;
    }
}
