/* partial-card-qa-list--k2.twig styles */

.partial-card-qa-list--k2 {
    @include clearfix;
    display: flex;
    align-items: center;
    margin: 0 0 20px;
    overflow: hidden;
    @media screen and (max-width: #{$breakpoint}px) {
        display: block;
        border-radius: 8px;
        padding: 16px 0 0;
    }
    @media screen and (min-width: $breakpoint + 1) {
        &:last-child {
            margin: 0;
        }
    }

    .card-qa-list__user {
        position: relative;
        display: flex;
        justify-content: center;
        width: 140px;
        @media screen and (max-width: #{$breakpoint}px) {
            width: 100%;
        }

        &:after {
            content: '';
            position: absolute;
            top: 21px;
            right: 0;
            width: 0;
            height: 0;

            // Pure CSS triangle here: https://css-tricks.com/snippets/css/css-triangle
            // ...

            @media screen and (max-width: #{$breakpoint}px) {
                display: none;
            }
        }

        .card-qa-list__avatar-wrapper {
            @media screen and (max-width: #{$breakpoint}px) {
                padding: 0 0 4px;
            }

            .card-qa-list__avatar {
                width: 42px;
                height: 42px;
                margin: 0 auto 8px;
            }
            .card-qa-list__username {
                text-transform: capitalize;
            }
            span {
                text-align: center;
            }
        }
    }

    .card-qa-list__question,
    .card-qa-list__answer {
        position: relative;
        width: calc(100% - 140px);
        border: 1px solid #000;
        border-radius: 8px;
        padding: 48px 24px 16px;
        @media screen and (max-width: #{$breakpoint}px) {
            width: 100%;
            border: none;
        }

        .card-qa-list__story {
            position: absolute;
            top: 12px;
            left: 24px;
            line-height: 16px;
            text-transform: lowercase;
            @media screen and (max-width: #{$breakpoint}px) {
                left: 48px;
            }

            &:before {
                content: '';
                position: absolute;
                top: 8px;
                left: -64px;
                width: 56px;
                height: 1px;
                z-index: 2;
            }
        }
        .card-qa-list__title {
            display: block;
            margin: 0 0 8px;

            h3 {
                line-height: 32px;

                // Line-clamp: http://dropshado.ws/post/1015351370/webkit-line-clamp
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                @media screen and (max-width: #{$breakpoint}px) {
                    margin: 0 0 16px;
                }
            }
        }

        .card-qa-list__author {
            @include clearfix;

            > span {
                width: 72px;
                line-height: 32px;
                float: left;
            }

            > div {
                width: calc(100% - 72px);
                float: left;

                .author__info {
                    @include clearfix;
                    .author__figure {
                        display: block;
                        width: 32px;
                        margin: 0 8px 0 0;
                        float: left;

                        .author__image-wrapper {
                            position: relative;
                            width: 100%;
                            height: 0;
                            border-radius: 100%;
                            padding: 0 0 100%;
                            overflow: hidden;

                            img {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                border-radius: 100%;
                            }
                        }
                    }

                    a {
                        display: block;
                    }

                    .author__name {
                        line-height: 32px;
                        text-transform: none;
                    }

                    .author__twitter {
                        line-height: 14px;
                    }
                }
            }
        }
    }

    span {
        display: block;
        line-height: 18px;
        text-transform: lowercase;
    }
}
