/* macro tabs.twig styles */

@import "customVariables";

.tabs {

    .tabs__nav {
      margin-bottom: 12px;

      label {
        font-family: $secondaryFont;
        font-size: 20px;
        font-weight: bold;
        margin-right: 15px;
      }
    }

    input[type="radio"] {
//
      &.engine {
//
        &:checked {

          & ~ .tabs__nav {

            label[for="engine"]{
              border-bottom: 4px solid #000;
            }
          }
//
//         & ~ .tabs__body {
//
//           .tabs__body__panel--engine {
//             opacity: 1;
//             visibility: visible;
//           }
//
//           .tabs__body__panel--performance {
//             opacity: 0;
//             visibility: hidden;
//           }
//         }
        }
      }
//
      &.performance {
//
        &:checked {

          & ~ .tabs__nav {

            label[for="performance"]{
              border-bottom: 4px solid #000;
            }
          }

  //      & ~ .tabs__body {
  //
  //         .tabs__body__panel--engine {
  //           opacity: 0;
  //           visibility: hidden;
  //         }
  //
  //         .tabs__body__panel--performance {
  //           opacity: 1;
  //           visibility: visible;
  //         }
          }
        }

        &.meccanica {
  //
          &:checked {

            & ~ .tabs__nav {

              label[for="meccanica"]{
                border-bottom: 4px solid #000;
              }
            }
  //
  //         & ~ .tabs__body {
  //
  //           .tabs__body__panel--engine {
  //             opacity: 1;
  //             visibility: visible;
  //           }
  //
  //           .tabs__body__panel--performance {
  //             opacity: 0;
  //             visibility: hidden;
  //           }
  //         }
          }
        }
      }

      .tabs__body {

        .featured-data__item {

          &:last-child {
            border-bottom: none;
          }
        }
      }
}
