/* title-section.twig styles */

@import "customVariables";
@import "mixins";
@import "../../node_modules/rogiostrap/src/sass/core/mediaqueries";

.title-section {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 0 0 5px 0;
	margin: #{$elementDivider}px 0 #{$containerDivider}px 0;
	margin: 0 0 16px;
	overflow: hidden;
	width: 100%;

	span {
		color: #000;
		font-family: $primaryFont;
		font-size: 30px;
		font-weight: 800;
		line-height: 34px;
		padding: 0 10px 0 0;

		@include smartphone {
			font-size: 24px;
			line-height: 30px;
		}
	}

	.title-link {
		@extend %iconsFromPartial;
		background-position: right -18px top -1363px; 
		color: $primaryColor;
		font-family: $primaryFont;
		font-size: 16px;
		font-weight: 400;
		white-space: nowrap;
		padding: 4px 28px 4px 0;
		border-bottom: 2px solid;
		margin-bottom: 7px;

		@include smartphone {
			font-size: 30px;
			background-position: right -13px top -1363px;
			overflow: hidden;
			width: 18px;
			text-indent: -400px;
		}

		&--desktop {
			@include smartphone {
				display: none;
			}
		}
		&--mobile {
			@include over-smartphone {
				display: none;
			}
		}
	}

	a {

		@include smartphone {
			font-size: 10px;
			line-height: 16px;
		}
	}
}

.post__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 8px 0;

	> h1,h2,h3 {
		text-transform: none;
	}

	> h1 {
		//max-width: calc(100% - 150px);

		@include smartphone {
			max-width: none;
		}
	}

	&--central {
		flex-direction: column;

		.social {
			align-self: flex-end;
			margin: unset;
		}
	}

	@include smartphone {
		flex-direction: column;
	}

	.subcategory--page &, .archive--page & {

		h1 {
			display: flex;
			align-items: center !important;

			@include smartphone {
				flex-direction: column;
			}
		}
	}

	&__caret {
		width: 24px;
		height: 24px;
		margin: 5px 10px;
		transform: rotate(-90deg);
		display: inherit;

		@include smartphone {
			transform: rotate(0);
		}
	}
}
.bottom_line {
	border-bottom: 2px solid $lightGrey;
	margin-bottom: 7px;
	flex: 1;
}
