<!-- header-modal.twig section -->

<header class="header-modal main-html-js">

  {% if loop.index <= 1 and headermodal is not defined or loop.index is not defined and headermodal is not defined %}

    <link rel="stylesheet" href="@@url/css/components/sections/header-modal@css_extension.css" />

  {% endif %}

  <div class="header__top flex flex-row">
    <div class="logo logo--modal">
      <picture>
    			<!--[if IE 9]><video style="display: none;"><![endif]-->
    			<source srcset="images/logo-motori-modal@2x.png 2x"/>
    			<!--[if IE 9]></video><![endif]-->
    			<img data-srcset="images/logo-motori-modal.png" alt="logo Motori"/>
    	</picture>
    </div>
    <div class="flex">
      <h1>{{ queryItem.title }}</h1>
    </div>
    <div class="header__top__right">
      <a href="#" class="button--close" role=button title="chiudi finestra"></a>
    </div>
  </div>

</header>
