<!-- section-cards-social.twig -->

<section class="section-cards-social">
    <h2>Seguici anche sui canali social</h2>

    <div class="container">
        <div class="col-6">

            {# Card Social Facebook #}
            {% include '../partials/partial-card-social-facebook--k2.twig' %}
        </div>
        <div class="col-6">

            {# Card Social Twitter #}
            {% include '../partials/partial-card-social-twitter--k2.twig' %}
        </div>
    </div>
</section>
