<!-- section-col-count (only for same elements) -->

<div class="col-count-{{ query.colNumber }}">

    <style>
      .{{query.class}} .col-count-{{ query.colNumber }} {
        column-gap: {{ query.gutter }}px !important;
        -webkit-column-gap: {{ query.gutter }}px !important;
      }
    </style>
    {% if query.colNumber >= query.componentNumber %}
      <style>
        .{{query.class}} .col-count-{{ query.colNumber }} > * {
          -webkit-column-break-after: always;
        }
      </style>
    {% endif %}


  {% for queryItem in query.type.items.children %}
    {% if loop.index <= query.componentNumber %}
      {% include '../partials/' ~ query.component ~ '.twig' %}
    {% endif %}
  {% endfor %}
</div>
