<!-- section-header--himalaya.twig -->
{% import "../partials/forms.twig" as forms %}

<header class="section-header--himalaya">
    <div class="logo">
        <a href="/">
            <img src="@@url/images/logo--big.svg" alt="nomesito logo"/>
        </a>
    </div>

    <div class="navigation-wrapper">
        <nav class="navigation">
            <ul>
                {% for item in menu.items.children %}
                    <li class="{{ item.current }}">
                        <a href="{{ item.link }}">{{ item.name }}</a>
                    </li>
                {% endfor %}

                <li class="search-bar">
                    <a href="#" title="Cerca su GreenStyle">
                        <svg class="icon icon--standard icon--search" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" stroke-width="2"><g stroke-width="2" transform="translate(0, 0)"><line data-color="color-2" x1="22" y1="22" x2="15.656" y2="15.656" fill="none" stroke="#343434" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="miter"></line> <circle cx="10" cy="10" r="8" fill="none" stroke="#343434" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="miter"></circle></g></svg>
                    </a>
                </li>
            </ul>
        </nav>

        <a class="navigation-wrapper__close" href="#" title="Chiudi">
            <svg class="icon icon--standard icon--close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" stroke-width="2"><g stroke-width="2" transform="translate(0, 0)"><line fill="none" stroke="#343434" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="19" y1="5" x2="5" y2="19" stroke-linejoin="miter"></line> <line fill="none" stroke="#343434" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="19" y1="19" x2="5" y2="5" stroke-linejoin="miter"></line></g></svg>
        </a>
    </div>

    <a class="hamb" href="#" title="Menu">
        <svg class="icon icon--standard icon--hamb" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" stroke-width="2"><g stroke-width="2" transform="translate(0, 0)"><line data-color="color-2" fill="none" stroke="#343434" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="1" y1="12" x2="23" y2="12" stroke-linejoin="miter"></line> <line fill="none" stroke="#343434" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="1" y1="5" x2="23" y2="5" stroke-linejoin="miter"></line> <line fill="none" stroke="#343434" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="1" y1="19" x2="23" y2="19" stroke-linejoin="miter"></line></g></svg>
    </a>

    <a class="lens" href="#" title="Cerca contenuto">
        <svg class="icon icon--standard icon--search" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" stroke-width="2"><g stroke-width="2" transform="translate(0, 0)"><line data-color="color-2" x1="22" y1="22" x2="15.656" y2="15.656" fill="none" stroke="#343434" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="miter"></line> <circle cx="10" cy="10" r="8" fill="none" stroke="#343434" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2" stroke-linejoin="miter"></circle></g></svg>
    </a>

    <div class="search-wrapper">
        <form method="get" action="some_php" role="search">
            {{ forms.search('search', '', 'text', 'scrivi qui...') }}
        </form>

        <a class="search-wrapper__close" href="#" title="Chiudi ricerca">
            <svg class="icon icon--standard icon--close" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" stroke-width="2"><g stroke-width="2" transform="translate(0, 0)"><line fill="none" stroke="#343434" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="19" y1="5" x2="5" y2="19" stroke-linejoin="miter"></line> <line fill="none" stroke="#343434" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="19" y1="19" x2="5" y2="5" stroke-linejoin="miter"></line></g></svg>
        </a>
    </div>
</header>
