<!-- section-1-3-columns.twig -->

 <div class="section-1-3-columns flex">
	 <div class="col-4">
     {% set params = query.col1.params %}
         {% for queryItem in query.col1.type.items.children %}
             {% if loop.index <= query.col1.componentNumber %}
                 {% include '../partials/' ~ query.col1.component ~ '.twig' %}
             {% endif %}
         {% endfor %}
	 </div>
	 <div class="col-8">
     {% set params = query.col2.params %}
         {% for queryItem in query.col2.type.items.children %}
             {% if loop.index <= query.col2.componentNumber %}
                 {% include '../partials/' ~ query.col2.component ~ '.twig' %}
             {% endif %}
         {% endfor %}
	 </div>
 </div>
