<!-- section-4-columns.twig -->

 <section class="section-4-columns">
	 <div class="col-3">
         {% for queryItem in query.col1.type.items.children %}
             {% if loop.index <= query.col1.componentNumber %}
                 {% include '../partials/' ~ query.col1.component ~ '.twig' %}
             {% endif %}
         {% endfor %}
	 </div>
	 <div class="col-3">
         {% for queryItem in query.col2.type.items.children %}
             {% if loop.index <= query.col2.componentNumber %}
                 {% include '../partials/' ~ query.col2.component ~ '.twig' %}
             {% endif %}
         {% endfor %}
	 </div>
     <div class="col-3">
         {% for queryItem in query.col3.type.items.children %}
             {% if loop.index <= query.col3.componentNumber %}
                 {% include '../partials/' ~ query.col3.component ~ '.twig' %}
             {% endif %}
         {% endfor %}
	 </div>
     <div class="col-3">
         {% for queryItem in query.col4.type.items.children %}
             {% if loop.index <= query.col4.componentNumber %}
                 {% include '../partials/' ~ query.col4.component ~ '.twig' %}
             {% endif %}
         {% endfor %}
	 </div>
 </section>
