<!-- section-1-columns.twig -->

 <section class="section-1-columns">
	 <div class="col-12">
         {% for queryItem in query.col1.type.items.children %}
             {% if loop.index <= query.col1.componentNumber %}
                 {% include '../partials/' ~ query.col1.component ~ '.twig' %}
             {% endif %}
         {% endfor %}
	 </div>
 </section>
