<!-- section-horizontal-iteration.twig section -->
{% set totalMargins = query.gutter * query.colNumber %}
{% set totalSpace = (query.colNumber * query.gutter) - query.gutter %}
{% set cardScrollerWidth = (query.componentNumber  * 240) + ((query.componentNumber * query.gutter) - query.gutter) %}

  <style>
    .{{ query.class }} .horizontal-iteration-list > div {
      width: calc((100% - {{ totalSpace }}px) / {{ query.colNumber }} );
    }

    .{{ query.class }} .card-scroller .horizontal-iteration-list > div {
      width: calc((100% - {{ totalSpace }}px) / {{ query.colNumber }} );
      margin-right: {{ query.gutter }}px;
    }

    .{{ query.class }} .horizontal-iteration-list > div[class*="col-"]:nth-of-type({{ query.colNumber }}n) {
      margin-right: 0;
    }

    .{{ query.class }} .horizontal-iteration-list > div:nth-of-type({{ query.colNumber}}n + 1) {
      clear: left;
    }

    .{{ query.class }} .horizontal-iteration-list > div:last-of-type {
        margin-right: 0;
    }

    @media screen and (max-width: 767px) {

      .{{ query.class }} .card-scroller .horizontal-iteration-list {
        width: {{ cardScrollerWidth }}px;
      }

      .{{ query.class }} .horizontal-iteration-list > div {
          width: 100% !important;
          margin-right: 0;
      }

      .{{ query.class }} .card-scroller .horizontal-iteration-list > div, .{{ query.class }} .horizontal-iteration-list > div[class*="col-"]:nth-of-type({{ query.colNumber}}n) {
        margin-right: {{ query.gutter }}px;
      }

      .{{ query.class }} .horizontal-iteration-list > div[class*="col-"]:nth-of-type({{ query.componentNumber}}n) {
        margin-right: 0 !important;
      }

    }

  </style>

  {% if loop.index <= 1 and sectionhorizontaliteration is not defined or loop.index is not defined and sectionhorizontaliteration is not defined %}

    <link rel="stylesheet" href="@@url/css/components/sections/section-horizontal-iteration@css_extension.css" />

  {% endif %}

<div class="horizontal-iteration-list">

    {% for queryItem in query.type.items.children %}
      {% if loop.index <= query.componentNumber %}
        <div class="col-{{12 / query.colNumber}} col-mobile-{{(12 / query.colMobileNumber) or 12}}">
          {% include '../partials/' ~ query.component ~'.twig' %}
        </div>
      {% endif %}
    {% endfor %}

</div>
