<!--trends.twig section -->
<section class="trends--section">
	<div class="trending-now">
		<span>Trend</span>
	</div>
	<div class="trends-section__container">
		<div class="swiper-wrapper">
			<a class="btn btn--light swiper-slide" href="#">Machine learning</a>
			<a class="btn btn--light swiper-slide" href="#">Cloud computing</a>
			<a class="btn btn--light swiper-slide" href="#">Responsive web design</a>
			<a class="btn btn--light swiper-slide" href="#">Blockchain</a>
			<a class="btn btn--light swiper-slide" href="#">Smart contracts</a>
			<a class="btn btn--light swiper-slide" href="#">Webpack</a>
			<a class="btn btn--light swiper-slide" href="#">Vue</a>
			<a class="btn btn--light swiper-slide" href="#">React</a>
			<a class="btn btn--light swiper-slide" href="#">Redis</a>
			<a class="btn btn--light swiper-slide" href="#">Machine learning</a>
			<a class="btn btn--light swiper-slide" href="#">Cloud computing</a>
			<a class="btn btn--light swiper-slide" href="#">Responsive web design</a>
		</div>
	</div>
<!-- </div> -->
<div class="trendsSlider-nav trendsSlider__next"></div>
<div class="trendsSlider-nav trendsSlider__prev"></div>
</section>
