<!-- partial-breadcrumb.twig -->
<div class="partial-breadcrumb">
	<link rel="stylesheet" href="@@url/css/components/partials/partial-breadcrumb@css_extension.css" />

	<nav aria-label="breadcrumb">
		<ul>
			<li><a href="/">Home</a></li>

			{% if category is defined %}
				<li><a href="{{ category.link|default('#') }}">{{ category or category.name }}</a></li>
			{% endif %}

			{% if subcategory is defined %}
				<li><a href="{{ subcategory.link|default('#') }}">{{ subcategory.name |default(subcategory) }}</a></li>
			{% endif %}

			<li aria-current="page">{{ queryItem.title or queryItem.name }}</li>
		</ul>
	</nav>
</div>
