<!-- partial-card-video-semihero--fuji.twig -->

<article class="partial-card-video-semihero--fuji">
    <div class="video-semihero__figure">
        <div class="video-semihero__image-wrapper">
            <picture data-link="{{ queryItem.link }}">
                <svg class="icon icon--best icon--play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72"><rect fill="#343434" width="33" height="39" transform="translate(22 17)"/><path fill="#FFF" d="M36,0A36,36,0,1,0,72,36,36.04,36.04,0,0,0,36,0ZM27,51V21L51,36Z"/></svg>

				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="{{ queryItem.srcImgCardBig }}, {{ queryItem.srcImgCardBigx2 }} 2x" media="(max-width: 736px)"/>
				<!--[if IE 9]></video><![endif]-->
				<img class="lazyload" data-srcset="{{ queryItem.srcImgCardSemiHero }}, {{ queryItem.srcImgCardSemiHerox2 }} 2x" alt="{{ queryItem.title }}"/>
    		</picture>
        </div>
    </div>
    <div class="video-semihero__content">
        {% for relatedTrend in queryItem.relatedTrends %}
    		{% if loop.index == 1 %}
    			<a class="video-semihero__story" href="{{ relatedTrend.link }}">{{ relatedTrend.name }}</a>
    		{% endif %}
    	{% endfor %}

        <a class="video-semihero__title" href="{{ queryItem.link }}">
            <h2>{{ queryItem.title }}</h2>
        </a>
        <p class="video-semihero__abstract abstract">{{ queryItem.abstract }}</p>

        <aside class="video-semihero__related">
            <ul>
                {% for relatedPost in queryItem.relatedPosts %}
                <li><a href="{{ relatedPost.link }}">{{ relatedPost.title }}</a></li>
                {% endfor %}
            </ul>
        </aside>
    </div>
</article>
