<!-- partial-card-video-big--k2.twig -->

<article class="partial-card-video-big--k2">
	<div class="card__thumbnail--big">
		<picture data-link="{{ queryItem.link }}">
			<svg class="icon icon--best icon--play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72"><rect fill="#343434" width="33" height="39" transform="translate(22 17)"/><path fill="#FFF" d="M36,0A36,36,0,1,0,72,36,36.04,36.04,0,0,0,36,0ZM27,51V21L51,36Z"/></svg>

			<img class="lazyload" data-srcset="{{ queryItem.srcImgCardBig }}, {{ queryItem.srcImgCardBigx2 }} 2x" alt="{{ queryItem.title }}"/>
		</picture>
	</div>

	{% for relatedTrend in queryItem.relatedTrends %}
		{% if loop.index == 1 %}
			<a class="card-video__story" href="{{ relatedTrend.link }}">{{ relatedTrend.name }}</a>
		{% endif %}
	{% endfor %}

	<div class="card__title">
		<a href="{{queryItem.link}}"><h3>{{queryItem.title}}</h3></a>
	</div>
	<div class="card__content">
		<p class="abstract">{{ queryItem.abstract }}</p>
	</div>

	<div class="card__releted-posts">
		<ul>
			{% for relatedPost in queryItem.relatedPosts %}
			<li><a href="{{ relatedPost.link }}">{{ relatedPost.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
</article>
