<!-- partial-card-post-list--k2.twig -->

<div class="partial-card-post-list--k2">
    <div class="card-post-list__figure">
        <div class="card-post-list__image-wrapper">
            <picture data-link="{{ queryItem.link }}">
                <!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="{{ queryItem.srcImgCardSmall }}" media="(max-width: 736px)"/>
				<!--[if IE 9]></video><![endif]-->
				<img class="lazyload" data-srcset="{{ queryItem.srcImgCardList }}" alt="{{ queryItem.title }}"/>
    		</picture>
        </div>
    </div>
    <div class="card-post-list__content">
        {% for relatedTrend in queryItem.relatedTrends %}
    		{% if loop.index == 1 %}
                <a class="card-post-list__story" href="{{ relatedTrend.link }}">{{ relatedTrend.name }}</a>
            {% endif %}
    	{% endfor %}

        <a class="card-post-list__title" href="{{ queryItem.link }}">
            <h3>{{ queryItem.title }}</h3>
        </a>
        <p class="card-post-list__abstract abstract">{{ queryItem.abstract }}</p>
    </div>
</div>
