<!-- partial-card-social-instagram--k2.twig -->

<div class="partial-card-social-instagram--k2">
    <div class="card-social__image card-social__image--instagram">
        <div class="image-wrapper">
            <img src="@@url/images/logo-green--small.svg" alt="instagram logo" />
        </div>
    </div>
    <div class="card-social__content">
        <h3>greenstyle.it</h3>
        <a class="cta cta--instagram" href="#" rel="nofollow" target="_blank">Seguici su Instagram</a>
    </div>
</div>
