<!-- partial-pagination.twig -->
{% import "../partials/forms.twig" as forms %}

<nav class="partial-pagination">
    <div class="pagination pagination--standard">
        <ul>
            <li><a href="?page=1" rel="first" class="current">1</a></li>
            <li><a href="?page=2">2</a></li>
            <li><a href="?page=3">3</a></li>

            <li>...</li>

            <li><a href="?page=64" rel="last">64</a></li>

            <li><a href="?page=14" rel="next" class="next">Successiva ›</a></li>
        </ul>
    </div>

    <span class="pagination__spacer">oppure vai direttamente alla pagina</span>

    <div class="pagination pagination--input">
        <form>
            
            {# Max == number of pages #}
            {{ forms.pagination('pagination', '', 'number', '1', '64', 'numero pagina...') }}
        </form>
    </div>
</nav>
