<!-- partial-related-trend.twig -->

<div class="partial-related-trend">
    <div class="related-trend__wrapper">
        <span>Parliamo di:</span>
        <div>
            {% for trend in queryItem.relatedTrends %}
                <div class="trend-slide" style="background-image: url('{{ trend.srcImgSlider }}');">
                    <a href="{{ trend.link }}">{{ trend.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
