<!-- partial-head.twig -->

{# Block head #}
{% block head %}

    <title>{{ site.name }}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, maximum-scale=5">
    <meta name="format-detection" content="telephone=no">

    <link rel="apple-touch-icon" sizes="180x180" href="@@url/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="@@url/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="@@url/images/favicon-16x16.png">
    <link rel="mask-icon" color="#5bbad5" href="@@url/images/safari-pinned-tab.svg">

    {# HTTP/2 Server pushed global CSS - Used on every page #}
    <link rel="stylesheet" href="@@url/css/custom@css_extension.css">

{% endblock %}
