<!-- partial-author.twig partial -->

<div class="partial-author">

{% if loop.index <= 1 and partialauthor is not defined or loop.index is not defined and partialauthor is not defined %}

  <link rel="stylesheet" href="@@url/css/components/partials/partial-author@css_extension.css" />

{% endif %} 


  <div>
  <div class="author__info">
    <div class="author__figure">
      <div class="author__image-wrapper">
        <picture data-link="{{ queryItem.author.link }}">
          <img class="lazyload" data-srcset="{{ queryItem.author.srcImgSmall }}" alt="{{ queryItem.author.name }}"/>
          </picture>
      </div>
    </div>
    <a class="author__name" href="{{ queryItem.author.link }}" rel="author">{{ queryItem.author.name }}</a>
  </div>
  </div>
  <time datetime="{{ queryItem.publishedAt }}">{{ queryItem.publishedAt|date("j F Y") }}</time>


</div>
