<!-- partial-promobox.twig -->

<div class="partial-promobox">
  {% if loop.index <= 1 and partialpromobox is not defined or loop.index is not defined and partialpromobox is not defined %}

    <link rel="stylesheet" href="@@url/css/components/partials/partial-promobox@css_extension.css" />

  {% endif %}
  <a href="#">
    <div class="box-shadow">
      <div class="promobox__brand">
          <img src="@@url/images/logo-agos.png" alt="logo agos" />
      </div>
      <div class="promobox__content">
          <span>Chiedi un prestito per Acquistare la tua auto</span>
      </div>
      <span class="item__right-arrow"></span>
    </div>
  </a>
</div>
