<!-- partial-card-video-small--k2.twig -->

<article class="partial-card-video-small--k2">
    <div class="card-video-small__figure">
        <div class="card-video-small__image-wrapper">
            <picture data-link="{{ queryItem.link }}">
                <svg class="icon icon--medium icon--play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72"><rect fill="#343434" width="33" height="39" transform="translate(22 17)"/><path fill="#FFF" d="M36,0A36,36,0,1,0,72,36,36.04,36.04,0,0,0,36,0ZM27,51V21L51,36Z"/></svg>

				<img class="lazyload" data-srcset="{{ queryItem.srcImgCardSmall }}" alt="{{ queryItem.title }}"/>
    		</picture>
        </div>
    </div>
    <div class="card-video-small__content">
        {% for relatedTrend in queryItem.relatedTrends %}
    		{% if loop.index == 1 %}
    			<a class="card-video-small__story" href="{{ relatedTrend.link }}">{{ relatedTrend.name }}</a>
    		{% endif %}
    	{% endfor %}

        <a class="card-video-small__title" href="{{ queryItem.link }}">
            <h4>{{ queryItem.title }}</h4>
        </a>
    </div>
</article>
