<!-- search-form.twig partial -->

<div class="search-form search-form-js">
  {% if loop.index <= 1 and partialsearchform is not defined or loop.index is not defined and partialsearchform is not defined %}

    <link rel="stylesheet" href="@@url/css/components/partials/partial-search-form@css_extension.css" />

  {% endif %}
  <div class="btn btn--light slide-search" role="search">

  	<div class="slide-search__lens">
  		<svg xmlns="http://www.w3.org/2000/svg" width="22.414" height="22.414" viewBox="0 0 22.414 22.414"><g transform="translate(-1 -1)"><line x1="4" y1="4" transform="translate(18 18)" fill="none" stroke="#000" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"/>
        <circle cx="8" cy="8" r="8" transform="translate(2 2)" fill="none" stroke="#000" stroke-linecap="square" stroke-miterlimit="10" stroke-width="2"/>
        <path d="M6,10a4,4,0,0,1,4-4" fill="none" stroke="#ff8d3d" stroke-miterlimit="10" stroke-width="2"/></g>
      </svg>
    </div>

  	<div class="slide-search__container">
  		<div class="slide-search__input">

  			<form method="get" action="some_php">
  					<div class="slide-search__input__field">
  						<div class="search-bar__field__search-ico">
  								<button type="submit" class="btn btn--light">
  										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 16 16"><g transform="translate(0, 0)"><path class="svg--theme--primary" d="M12.7,11.3c0.9-1.2,1.4-2.6,1.4-4.2C14.1,3.2,11,0,7.1,0S0,3.2,0,7.1c0,3.9,3.2,7.1,7.1,7.1 c1.6,0,3.1-0.5,4.2-1.4l3,3c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3c0.4-0.4,0.4-1,0-1.4L12.7,11.3z M7.1,12.1 C4.3,12.1,2,9.9,2,7.1S4.3,2,7.1,2s5.1,2.3,5.1,5.1S9.9,12.1,7.1,12.1z"></path></g></svg>
  								</button>
  						</div>
  						<input class="search-bar__field__input" type="text" name="main_search" id="main_search" placeholder="cerca..."/>
  						<div>
  							<span>in&nbsp;&nbsp;</span>
  							<select class="dropdown chosen-select">
  								<option value="auto">Listino auto</option>
  								<option value="moto">Listino moto</option>
  								<option value="usato">Annunci usato</option>
  								<option value="magazine">Magazine</option>
  							</select>
  						</div>
  					</div>
  			</form>
  			<div class="btn btn--light btn--close"></div>
  		</div>
  	</div>

  </div>

</div>
