<!-- partial-card-social-twitter--k2.twig -->

<div class="partial-card-social-twitter--k2">
    <div class="card-social__image card-social__image--twitter">
        <div class="image-wrapper">
            <img src="@@url/images/logo-green--small.svg" alt="twitter logo" />
        </div>
    </div>
    <div class="card-social__content">
        <h3>greenstyle.it</h3>
        <a class="cta cta--twitter" href="#" rel="nofollow" target="_blank">Seguici su Twitter</a>
    </div>
</div>
