<!-- partial-slider-trend--montebianco.twig -->

<div class="partial-slider-trend--montebianco">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for trend in trends.items.children %}
                <div class="swiper-slide trend-slide" style="background-image: url('{{ trend.srcImgSlider }}');">
                    <a href="{{ trend.link }}">{{ trend.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="swiper-button-next" title="Scorri avanti">
        <svg class="icon icon--standard icon--next" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" stroke-width="2"><g stroke-width="2" transform="translate(0, 0)"><polyline data-cap="butt" fill="none" stroke="#343434" stroke-width="2" stroke-miterlimit="10" points="8,1 16,12 8,23 " stroke-linejoin="miter" stroke-linecap="butt"></polyline></g></svg>
    </div>
    <div class="swiper-button-prev" title="Scorri indietro">
        <svg class="icon icon--standard icon--prev" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" stroke-width="2"><g stroke-width="2" transform="translate(0, 0)"><polyline data-cap="butt" fill="none" stroke="#343434" stroke-width="2" stroke-miterlimit="10" points="16,1 8,12 16,23 " stroke-linejoin="miter" stroke-linecap="butt"></polyline></g></svg>
    </div>
</div>
