<!-- partial-single-card-inner-header.twig partial -->

<div class="partial-single-card-inner-header">

{% if loop.index <= 1 and partialsinglecardinnerheader is not defined or loop.index is not defined and partialsinglecardinnerheader is not defined %}

<link rel="stylesheet" href="@@url/css/components/partials/partial-single-card-inner-header@css_extension.css" />

{% endif %}


<div class="static-content__header">
    <a class="header__prev" href="#" title="pagina precedente">
        <svg class="icon icon--standard icon--prev" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" stroke-width="2"><g stroke-width="2" transform="translate(0, 0)"><line data-cap="butt" data-color="color-2" fill="none" stroke="#343434" stroke-width="2" stroke-miterlimit="10" x1="22" y1="12" x2="2" y2="12" stroke-linejoin="miter" stroke-linecap="butt"></line> <polyline fill="none" stroke="#343434" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="9,19 2,12 9,5 " stroke-linejoin="miter"></polyline></g></svg>
    </a>
    <div class="header__nav">
        <span>pagina</span>
        <span class="nav__number">2</span>
        <span>di 10</span>
    </div>
    {% include 'partial-social-bar--V1.twig' %}
</div>

</div>
