<!-- partial-card-gallery-hero--fuji.twig -->

<article class="partial-card-gallery-hero--fuji">
    <div class="gallery-hero__figure span-6">
        <div class="gallery-hero__image-wrapper">
            <picture data-link="{{ queryItem.link }}">
                <!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="{{ queryItem.srcImgCardBig1 }}, {{ queryItem.srcImgCardBig1x2 }} 2x" media="(max-width: 736px)"/>
				<!--[if IE 9]></video><![endif]-->
				<img class="lazyload" data-srcset="{{ queryItem.srcImgFeaturedBig1 }}, {{ queryItem.srcImgFeaturedBig1x2 }} 2x" alt="{{ queryItem.title }}"/>
    		</picture>
        </div>
        <div class="gallery-hero__image-container">
            <div class="gallery-hero__image-wrapper">
                <picture data-link="{{ queryItem.link }}">
    				<img class="lazyload" data-srcset="{{ queryItem.srcImgFeaturedBig2 }}" alt="{{ queryItem.title }}"/>
        		</picture>
            </div>
            <div class="gallery-hero__image-wrapper">
                <picture data-link="{{ queryItem.link }}">
    				<img class="lazyload" data-srcset="{{ queryItem.srcImgFeaturedBig3 }}" alt="{{ queryItem.title }}"/>
        		</picture>
            </div>
            <div class="gallery-hero__image-wrapper">
                <span data-link="{{ queryItem.link }}" class="gallery-hero__photo-number">+{{ queryItem.photoNumber }}</span>
                <picture data-link="{{ queryItem.link }}">
    				<img class="lazyload" data-srcset="{{ queryItem.srcImgFeaturedBig4 }}" alt="{{ queryItem.title }}"/>
        		</picture>
            </div>
        </div>
    </div>
    <div class="gallery-hero__content span-6">
        {% for relatedTrend in queryItem.relatedTrends %}
    		{% if loop.index == 1 %}
    			<a class="gallery-hero__story" href="{{ relatedTrend.link }}">{{ relatedTrend.name }}</a>
    		{% endif %}
    	{% endfor %}

        <a class="gallery-hero__title" href="{{ queryItem.link }}">
            <h2>{{ queryItem.title }}</h2>
        </a>
        <p class="gallery-hero__abstract abstract">{{ queryItem.photoNumber }} fotografie</p>
        <p class="gallery-hero__abstract abstract">{{ queryItem.abstract }}</p>

        <aside class="gallery-hero__related">
            <ul>
                {% for relatedPost in queryItem.relatedPosts %}
                <li><a href="{{ relatedPost.link }}">{{ relatedPost.title }}</a></li>
                {% endfor %}
            </ul>
        </aside>
    </div>
</article>
