<!-- partial-card-gallery-semihero--fuji.twig -->

<article class="partial-card-gallery-semihero--fuji">
    <div class="gallery-semihero__figure">
        <div class="gallery-semihero__image-wrapper">
            <picture data-link="{{ queryItem.link }}">
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="{{ queryItem.srcImgCardBig1 }}, {{ queryItem.srcImgCardBig1x2 }} 2x" media="(max-width: 736px)"/>
				<!--[if IE 9]></video><![endif]-->
				<img class="lazyload" data-srcset="{{ queryItem.srcImgCardSemiHero1 }}, {{ queryItem.srcImgCardSemiHero1x2 }} 2x" alt="{{ queryItem.title }}"/>
    		</picture>
        </div>
        <div class="gallery-semihero__image-container">
            <div class="gallery-semihero__image-wrapper">
                <picture data-link="{{ queryItem.link }}">
    				<img class="lazyload" data-srcset="{{ queryItem.srcImgCardBig2 }}" alt="{{ queryItem.title }}"/>
        		</picture>
            </div>
            <div class="gallery-semihero__image-wrapper">
                <span data-link="{{ queryItem.link }}" class="gallery-semihero__photo-number">+{{ queryItem.photoNumber }}</span>
                <picture data-link="{{ queryItem.link }}">
    				<img class="lazyload" data-srcset="{{ queryItem.srcImgCardBig3 }}" alt="{{ queryItem.title }}"/>
        		</picture>
            </div>
        </div>
    </div>
    <div class="gallery-semihero__content">
        {% for relatedTrend in queryItem.relatedTrends %}
    		{% if loop.index == 1 %}
    			<a class="gallery-semihero__story" href="{{ relatedTrend.link }}">{{ relatedTrend.name }}</a>
    		{% endif %}
    	{% endfor %}

        <a class="gallery-semihero__title" href="{{ queryItem.link }}">
            <h2>{{ queryItem.title }}</h2>
        </a>
        <p class="gallery-semihero__abstract abstract">{{ queryItem.photoNumber }} fotografie</p>
    </div>
</article>
