<!-- partial-innerrelated-post.twig -->

{% for key, relatedPost in queryItem.relatedPosts %}
    {% if loop.index == 1 %}
        <aside class="partial-innerrelated-post">
            <article class="innerrelated-post__wrapper">
                <div class="innerrelated-post__image-wrapper">
                    <picture data-link="{{ relatedPost.link }}">
        				<img class="lazyload" data-srcset="{{ relatedPost.srcImg }}" alt="{{ relatedPost.title }}"/>
            		</picture>
                </div>

                <a class="innerrelated-post__title" href="{{ relatedPost.link }}">
                    <h3>{{ relatedPost.title }}</h3>
                </a>
            </article>
        </aside>
    {% endif %}
{% endfor %}
