<!-- partial-single-gallery-slider--V1.twig partial -->

<div class="partial-single-gallery-slider--V1">

  {% if loop.index <= 1 and partialsinglegallerysliderV1 is not defined or loop.index is not defined and partialsinglegallerysliderV1 is not defined %}

    <link rel="stylesheet" href="@@url/css/components/partials/partial-single-gallery-slider--V1@css_extension.css" />

  {% endif %}

<div class="featured-image__box-image single-gallery-js">
  <picture data-link="{{ queryItem.link }}">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="{{ queryItem.photos[0].srcImgBig }}, {{ queryItem.photos[0].srcImgBigx2 }} 2x" media="(max-width: 736px)"/>
    <!--[if IE 9]></video><![endif]-->
    <img class="lazyload" data-srcset="{{ queryItem.photos[0].srcImgBig }}, {{ queryItem.photos[0].srcImgBigx2 }} 2x" alt="{{ queryItem.title }}" width="{{ueryItem.photos[0].widthImgBigx2}}" width="{{ueryItem.photos[0].heightImgBigx2}}"/>
  </picture>

  <nav class="single-gallery-slider__nav">
    <ul>
      <li><span role="button" aria-label="espandi" title="espandi" class="button button--expand"></span></li>
      <li><a href="#" role="button" aria-label="successiva" title="successiva" class="button button--next"></a></li>
      <li><a href="#" role="button" aria-label="precedente" title="precedente" class="button button--disabled button--prev"></a></li>
    </ul>
  </nav>
  <div class="single-gallery-slider__data">
    <figcaption>Foto 1 di {{ queryItem.photoNumber}}</figcaption>
  </div>
</div>

<div class="featured-image--fullwidth-image">
  <div class="featured-image__box-image">
    <div class="featured-image__picture-container">
      <picture data-link="{{ queryItem.link }}">
        <img src="{{ queryItem.photos[0].srcImgBigx2 }}" alt="{{ queryItem.title }}" width="{{ueryItem.photos[0].widthImgBigx2}}" width="{{ueryItem.photos[0].heightImgBigx2}}"/>
        <div class="fullwidth-image__image"></div>
      </picture>
      <nav class="single-gallery-slider__nav">
        <ul>
          <li><span role="button" aria-label="espandi" title="espandi" class="button button--collapse"></span></li>
          <li><span data-link="#" role="button" aria-label="successiva" title="successiva" class="button button--next"></span></li>
          <li><span data-link="#" role="button" aria-label="precedente" title="precedente" class="button button--disabled button--prev"></span></li>
        </ul>
      </nav>
      <div class="single-gallery-slider__data">
        <figcaption>Foto 1 di {{ queryItem.photoNumber}}</figcaption>
      </div>
    </div>

  </div>
  <div class="overlay"></div>
</div>

</div>
