<!-- partial-innerrelated-video.twig -->

{% for key, relatedVideo in queryItem.relatedVideos %}
    {% if loop.index == 1 %}
        <aside class="partial-innerrelated-video">
            <article class="innerrelated-video__wrapper">
                <div class="innerrelated-video__image-wrapper">
                    <picture data-link="{{ relatedVideo.link }}">
                        <svg class="icon icon--medium icon--play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72"><rect fill="#343434" width="33" height="39" transform="translate(22 17)"/><path fill="#FFF" d="M36,0A36,36,0,1,0,72,36,36.04,36.04,0,0,0,36,0ZM27,51V21L51,36Z"/></svg>

        				<img class="lazyload" data-srcset="{{ relatedVideo.srcImg }}" alt="{{ relatedVideo.title }}"/>
            		</picture>
                </div>

                <a class="innerrelated-video__title" href="{{ relatedVideo.link }}">
                    <h3>{{ relatedVideo.title }}</h3>
                </a>
            </article>
        </aside>
    {% endif %}
{% endfor %}
