<!-- partial-video-player.twig partial -->

<div class="partial-video-player">

  {% if loop.index <= 1 and partialvideoplayer is not defined or loop.index is not defined and partialvideoplayer is not defined %}

    <link rel="stylesheet" href="@@url/css/components/partials/partial-video-player@css_extension.css" />

  {% endif %}

<div class="video-player__container">
  <iframe width="100%" height="100%" src="{{ video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
</div>

</div>
