<!-- partial-google-map.twig partial -->

<div class="partial-google-map">

  <style>

    .container--google-map {
      margin-bottom: 32px;
    }

    .container--google-map section{
      margin: 0;
    }

    .container--google-map main{
      width: 680px;
    }

    .partial-google-map {
      position: absolute;
      height: 100%;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      overflow: hidden;
    }

    #map {
      height: 100%;
      width: 680px;
     }

     @media screen and (max-width: 767px ) {

       .partial-google-map {
         border-top-right-radius: 8px;
         border-bottom-right-radius: 8px;
         position: relative;
         height: 0;
         padding-bottom: 100%;
       }

       .container--google-map #map{
         position: absolute;
       }

       .container--google-map main, .container--google-map #map{
           width: 100%;
       }
     }
  </style>

  <div id="map"></div>
  <script>
     var geocoder;
     var map;
     var address = "via Cristoforo Colombo, 122 Roma";
     geocoder = new google.maps.Geocoder();

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 16
                });
                geocoder = new google.maps.Geocoder();
                codeAddress(geocoder, map);
      }

      function codeAddress(geocoder, map) {
              geocoder.geocode({'address': address}, function(results, status) {
                if (status === 'OK') {
                  map.setCenter(results[0].geometry.location);
                  var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                  });
                } else {
                  alert('Geocode non ha trovato l\'indirizzo per questo motivo: ' + status);
                }
              });
      }
  </script>

  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqVMUS-WxH8ACuQWE_BxlrHXufcDnMTPA&callback=initMap">
  </script>
</div>
