<!-- partial-card-qa-list--k2.twig -->

<article class="partial-card-qa-list--k2">
	<div class="card-qa-list__user">
		<div class="card-qa-list__avatar-wrapper">
			<div class="card-qa-list__avatar">
				<svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42"><g transform="translate(-845 -337)"><circle fill="#3cb46e" cx="21" cy="21" r="21" transform="translate(845 337)"/><g transform="translate(854 346)"><path fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2px" d="M1.051,10.933C4.239,6.683,9.875,11.542,16,6c3,4.75,6.955,5,6.955,5"/><circle fill="#fff" cx="1.5" cy="1.5" r="1.5" transform="translate(6 13)"/><circle fill="#fff" cx="1.5" cy="1.5" r="1.5" transform="translate(15 13)"/><circle fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="2px" stroke-linecap="square" cx="11" cy="11" r="11" transform="translate(1 1)"/></g></g></svg>
			</div>
			<span class="card-qa-list__username">{{ queryItem.user.name }}</span>
			<span>Chiede</span>
		</div>
	</div>
	<div class="card-qa-list__question">
		{% for relatedTrend in queryItem.relatedTrends %}
    		{% if loop.index == 1 %}
				<a class="card-qa-list__story" href="{{ relatedTrend.link }}">{{ relatedTrend.name }}</a>
            {% endif %}
    	{% endfor %}

		<a class="card-qa-list__title" href="{{ queryItem.link }}">
            <h3>{{ queryItem.title }}</h3>
        </a>
		<div class="card-qa-list__author">
			<span>Risponde</span>
			<div>
				<div class="author__info">
					<div class="author__figure">
						<div class="author__image-wrapper">
							<picture data-link="{{ queryItem.author.link }}">
								<img class="lazyload" data-srcset="{{ queryItem.author.srcImgSmall }}" alt="{{ queryItem.author.name }}"/>
				    		</picture>
						</div>
					</div>
					<a class="author__name" href="{{ queryItem.author.link }}">{{ queryItem.author.name }}</a>
					<a class="author__twitter" href="{{ queryItem.author.twitterLink }}">{{ queryItem.author.twitterName }}</a>
				</div>
			</div>
		</div>
	</div>
</article>
