<!-- partial-sticky-adv.twig -->

<div class="partial-sticky-adv">
  {% if loop.index <= 1 and partialstickyadv is not defined or loop.index is not defined and partialstickyadv is not defined %}

    <link rel="stylesheet" href="@@url/css/components/partials/partial-sticky-adv@css_extension.css" />

  {% endif %}
    <div class="sticky-element">
        <div class="sticky-adv">
            <!-- banner here -->
        </div>
    </div>
</div>
