<!-- partial-card-gallery-small--k2.twig -->

<article class="partial-card-gallery-small--k2">
    <div class="card-gallery-small__figure">
        <div class="card-gallery-small__image-wrapper">
            <picture data-link="{{ queryItem.link }}">
				<img class="lazyload" data-srcset="{{ queryItem.srcImgCardSmall1 }}" alt="{{ queryItem.title }}"/>
    		</picture>
        </div>
        <div class="card-gallery-small__image-wrapper">
            <span data-link="{{ queryItem.link }}" class="card-gallery-small__photo-number">+{{ queryItem.photoNumber }}</span>
            <picture data-link="{{ queryItem.link }}">
				<img class="lazyload" data-srcset="{{ queryItem.srcImgCardSmall2 }}" alt="{{ queryItem.title }}"/>
    		</picture>
        </div>
    </div>
    <div class="card-gallery-small__content">
        {% for relatedTrend in queryItem.relatedTrends %}
    		{% if loop.index == 1 %}
    			<a class="card-gallery-small__story" href="{{ relatedTrend.link }}">{{ relatedTrend.name }}</a>
    		{% endif %}
    	{% endfor %}

        <a class="card-gallery-small__title" href="{{ queryItem.link }}">
            <h4>{{ queryItem.title }}</h4>
        </a>
        <p class="card-gallery-small__abstract abstract">{{ queryItem.photoNumber }} fotografie</p>
    </div>
</article>
