<!-- partial-social-bar--V1.twig partial -->

<div class="partial-social-bar--V1">
{% if loop.index <= 1 and partialsocialbarV1 is not defined or loop.index is not defined and partialsocialbarV1 is not defined %}

  <link rel="stylesheet" href="@@url/css/components/partials/partial-social-bar--V1@css_extension.css" />

{% endif %}

    <ul>
      <li class="social-bar__mail"><a href="#"></a></li>
      <li class="social-bar__fb"><a href="#"></a></li>
      <li class="social-bar__tw"><a href="#"></a></li>
    </ul>

</div>
