<!-- partial-card-post-semihero--fuji.twig -->

<article class="partial-card-post-semihero--fuji">
    <div class="post-semihero__figure">
        <div class="post-semihero__image-wrapper">
            <picture data-link="{{ queryItem.link }}">
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="{{ queryItem.srcImgCardBig }}, {{ queryItem.srcImgCardBigx2 }} 2x" media="(max-width: 736px)"/>
				<!--[if IE 9]></video><![endif]-->
				<img class="lazyload" data-srcset="{{ queryItem.srcImgCardSemiHero }}, {{ queryItem.srcImgCardSemiHerox2 }} 2x" alt="{{ queryItem.title }}"/>
    		</picture>
        </div>
    </div>
    <div class="post-semihero__content">
        {% for relatedTrend in queryItem.relatedTrends %}
    		{% if loop.index == 1 %}
                <a class="post-semihero__story" href="{{ relatedTrend.link }}">{{ relatedTrend.name }}</a>
            {% endif %}
    	{% endfor %}

        <a class="post-semihero__title" href="{{ queryItem.link }}">
            <h2>{{ queryItem.title }}</h2>
        </a>
        <p class="post-semihero__abstract abstract">{{ queryItem.abstract }}</p>

        <aside class="post-semihero__related">
            <ul>
                {% for relatedPost in queryItem.relatedPosts %}
                <li><a href="{{ relatedPost.link }}">{{ relatedPost.title }}</a></li>
                {% endfor %}
            </ul>
        </aside>
    </div>
</article>
