<!-- partial-innerrelated-playervideo--inside.twig -->

<div class="partial-innerrelated-playervideo--inside">
    <div class="playervideo-wrapper">

        <!-- just for testing - embed vimeo -->
        <iframe src="https://player.vimeo.com/video/106383976?autoplay=1&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</div>
