<!-- partial-card-video-list--k2.twig -->

<div class="partial-card-video-list--k2">
    <div class="card-video-list__figure">
        <div class="card-video-list__image-wrapper">
            <picture data-link="{{ queryItem.link }}">
                <svg class="icon icon--big icon--play" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72"><rect fill="#343434" width="33" height="39" transform="translate(22 17)"/><path fill="#FFF" d="M36,0A36,36,0,1,0,72,36,36.04,36.04,0,0,0,36,0ZM27,51V21L51,36Z"/></svg>

                <!--[if IE 9]><video style="display: none;"><![endif]-->
				<source srcset="{{ queryItem.srcImgCardSmall }}" media="(max-width: 736px)"/>
				<!--[if IE 9]></video><![endif]-->
				<img class="lazyload" data-srcset="{{ queryItem.srcImgCardList }}" alt="{{ queryItem.title }}"/>
    		</picture>
        </div>
    </div>
    <div class="card-video-list__content">
        {% for relatedTrend in queryItem.relatedTrends %}
    		{% if loop.index == 1 %}
    			<a class="card-video-list__story" href="{{ relatedTrend.link }}">{{ relatedTrend.name }}</a>
    		{% endif %}
    	{% endfor %}

        <a class="card-video-list__title" href="{{ queryItem.link }}">
            <h3>{{ queryItem.title }}</h3>
        </a>
        <p class="card-video-list__abstract abstract">{{ queryItem.abstract }}</p>
    </div>
</div>
