<!-- partial-inner-content-image.twig partial -->

<figure id="attachment-12345" class="partial-inner-content-image wp-caption alignnone">
  <img class="wp-image-12345 size-full" src="{{ queryItem.srcImgPostFeaturedBig }}" />
  <figcaption class="wp-caption-text">Fonte:
    <a href="{{ queryItem.link }}" rel="nofollow" target="_blank">&nbsp;Image by StockSnap from Pixabay</a>
    Donna felice con tisana
  </figcaption>
</figure>
