<!-- partial-card-social-facebook--k2.twig -->

<div class="partial-card-social-facebook--k2">
    <div class="card-social__image card-social__image--facebook">
        <div class="image-wrapper">
            <img src="@@url/images/logo-green--small.svg" alt="facebook logo" />
        </div>
    </div>
    <div class="card-social__content">
        <h3>greenstyle.it</h3>
        <a class="cta cta--facebook" href="#" rel="nofollow" target="_blank">Seguici su Facebook</a>
    </div>
</div>
