<!-- partial-star-ratings.twig partial -->

<div class="partial-star-ratings">

    {% if loop.index <= 1 and partialstarratings is not defined or loop.index is not defined and partialstarratings is not defined %}

      <link rel="stylesheet" href="@@url/css/components/partials/partial-star-ratings@css_extension.css" />

    {% endif %}

<!-- insert WP plugin to skin this (gdrts rating)-->

  <div class="single-software__user-vote">
    <div class="gdrts-rating-block gdrts-method-stars-rating gdrts-rating-allowed gdrts-rating-open  gdrts-item-entity-posts gdrts-item-name-esperto">
      <div class="gdrts-inner-wrapper">
       <div class="gdrts-rating-element gdrts-stars-rating gdrts-block-stars gdrts-state-active gdrts-font-star gdrts-stars-length-5 gdrts-with-fonticon gdrts-fonticon-font" style="height: 30px;">
         <div class="gdrts-sr-only">
           <label class="gdrts-sr-label">Rate this item:
             <select class="gdrts-sr-rating">
               <option value="1.00">1.00</option>
               <option value="2.00">2.00</option>
               <option value="3.00">3.00</option>
               <option value="4.00">4.00</option>
               <option value="5.00">5.00</option>
             </select>
           </label>
           <button class="gdrts-sr-button">Submit Rating</button>
         </div>
         <input type="hidden" value="0" name="" />
         <span aria-hidden="true" class="gdrts-stars-empty" style="color: #dddddd; font-size: 30px; line-height: 30px;">
           <span class="gdrts-stars-active" style="color: #b2deff; width: 0%"></span>
           <span class="gdrts-stars-current" style="color: #102f63; width: 0%"></span>
         </span>
       </div>
      </div>
    </div>
  </div>
<!-- end gdrts rating -->

</div>
