<!-- partial-card-gallery-list--k2.twig -->

<div class="partial-card-gallery-list--k2">
    <div class="card-gallery-list__figure">
        <div class="card-gallery-list__image-wrapper">
            <picture data-link="{{ queryItem.link }}">
				<img class="lazyload" data-srcset="{{ queryItem.srcImgCardList1 }}" alt="{{ queryItem.title }}"/>
    		</picture>
        </div>
        <div class="card-gallery-list__image-container">
            <div class="card-gallery-list__image-wrapper">
                <picture data-link="{{ queryItem.link }}">
    				<img class="lazyload" data-srcset="{{ queryItem.srcImgCardList2 }}" alt="{{ queryItem.title }}"/>
        		</picture>
            </div>
            <div class="card-gallery-list__image-wrapper">
                <span data-link="{{ queryItem.link }}" class="card-gallery-list__photo-number">+{{ queryItem.photoNumber }}</span>
                <picture data-link="{{ queryItem.link }}">
    				<img class="lazyload" data-srcset="{{ queryItem.srcImgCardList3 }}" alt="{{ queryItem.title }}"/>
        		</picture>
            </div>
        </div>
    </div>
    <div class="card-gallery-list__content">
        {% for relatedTrend in queryItem.relatedTrends %}
    		{% if loop.index == 1 %}
    			<a class="card-gallery-list__story" href="{{ relatedTrend.link }}">{{ relatedTrend.name }}</a>
    		{% endif %}
    	{% endfor %}

        <a class="card-gallery-list__title" href="{{ queryItem.link }}">
            <h3>{{ queryItem.title }}</h3>
        </a>
        <p class="card-gallery-list__abstract abstract">{{ queryItem.photoNumber }} fotografie</p>
    </div>
</div>
