<!-- partial-card-post-small--k2.twig -->

<article class="partial-card-post-small--k2">
    <div class="card-post-small__figure">
        <div class="card-post-small__image-wrapper">
            <picture data-link="{{ queryItem.link }}">
				<img class="lazyload" data-srcset="{{ queryItem.srcImgCardSmall }}" alt="{{ queryItem.title }}"/>
    		</picture>
        </div>
    </div>
    <div class="card-post-small__content">
        {% for relatedTrend in queryItem.relatedTrends %}
    		{% if loop.index == 1 %}
                <a class="card-post-small__story" href="{{ relatedTrend.link }}">{{ relatedTrend.name }}</a>
            {% endif %}
    	{% endfor %}

        <a class="card-post-small__title" href="{{ queryItem.link }}">
            <h4>{{ queryItem.title }}</h4>
        </a>
    </div>
</article>
