<!-- partial-card-post-big--k2.twig -->

<article class="partial-card-post-big--k2">
	<div class="card__thumbnail--big">
		<picture data-link="{{ queryItem.link }}">
			<img class="lazyload" data-srcset="{{ queryItem.srcImgCardBig }}, {{ queryItem.srcImgCardBigx2 }} 2x" alt="{{ queryItem.title }}"/>
		</picture>
	</div>

	{% for relatedTrend in queryItem.relatedTrends %}
		{% if loop.index == 1 %}
			<a class="card-post__story" href="{{ relatedTrend.link }}">{{ relatedTrend.name }}</a>
		{% endif %}
	{% endfor %}

	<div class="card__title">
		<a href="{{queryItem.link}}"><h3>{{queryItem.title}}</h3></a>
	</div>
	<div class="card__content">
		<p class="abstract">{{ queryItem.abstract }}</p>
	</div>

	<div class="card__releted-posts">
		<ul>
			{% for relatedPost in queryItem.relatedPosts %}
			<li><a href="{{ relatedPost.link }}">{{ relatedPost.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
</article>
