<!-- partial-card-gallery-big--k2.twig -->

<div class="partial-card-gallery-big--k2">
  {% if loop.index <= 1 and partialcardgallerybigk2 is not defined or loop.index is not defined and partialcardgallerybigk2 is not defined %}

    <link rel="stylesheet" href="@@url/css/components/partials/partial-card-gallery-big--k2@css_extension.css" />

  {% endif %}

    <div class="card-gallery-big__figure">
        <div class="card-gallery-big__image-wrapper">
            <picture data-link="{{ queryItem.link }}">
				<img class="lazyload" data-srcset="{{ queryItem.srcImgCardBig1 }}, {{ queryItem.srcImgCardBig1x2 }} 2x" alt="{{ queryItem.title }}"/>
    		</picture>
        </div>
        <div class="card-gallery-big__image-container">
            <div class="card-gallery-big__image-wrapper">
                <picture data-link="{{ queryItem.link }}">
    				<img class="lazyload" data-srcset="{{ queryItem.srcImgCardBig2 }}" alt="{{ queryItem.title }}"/>
        		</picture>
            </div>
            <div class="card-gallery-big__image-wrapper">
                <span data-link="{{ queryItem.link }}" class="card-gallery-big__photo-number">+{{ queryItem.photoNumber }}</span>
                <picture data-link="{{ queryItem.link }}">
    				<img class="lazyload" data-srcset="{{ queryItem.srcImgCardBig3 }}" alt="{{ queryItem.title }}"/>
        		</picture>
            </div>
        </div>
    </div>
    <div class="card-gallery-big__content">
        {% for relatedTrend in queryItem.relatedTrends %}
    		{% if loop.index == 1 %}
    			<a class="card-gallery-big__story" href="{{ relatedTrend.link }}">{{ relatedTrend.name }}</a>
    		{% endif %}
    	{% endfor %}

        <a class="card-gallery-big__title" href="{{ queryItem.link }}">
            <h3>{{ queryItem.title }}</h3>
        </a>
        <p class="card-gallery-big__abstract abstract">{{ queryItem.photoNumber }} fotografie</p>
    </div>
</div>
