<!-- partial-newsletter.twig -->
{% import "../partials/forms.twig" as forms %}

<div class="partial-newsletter chosen-js">

    <!-- newsletter first step -->
    <div id="newsletter_div" class="newsletter__pass-a">
        <p>Se vuoi aggiornamenti su <em>any title of your choise</em> inserisci la tua email nel box qui sotto:</p>

        <form id="newsletterform" name="newsletterform">
            <input type="hidden" name="action" value="newsletter_subscribe">
            <input type="hidden" name="n_tags" value="[TAGS]">
            <input type="hidden" name="step" value="1">

            <div class="newsletter__block">
    			{{ forms.newsletter('mail', 'n_email', '', 'email', 'inserisci la tua email...', 'email', 'required') }}
    		</div>
            <div class="newsletter__block">
                {{ forms.radiocouple('Si', 'No', 'radP1a', 'radP1aYes', 'radP1aNo', 'trattamento_privacy', 'Ho letto e acconsento l\'<a href="http://www.greenstyle.it/privacy-policy" rel="nofollow" target="_blank">informativa sulla privacy</a>', 'privacy_radio', 'required') }}
            </div>
            <div class="newsletter__block">
                {{ forms.radiocouple('Si', 'No', 'radP2a', 'radP2aYes', 'radP2aNo', 'n_inviadem', 'Acconsento al trattamento dei dati per attività di marketing') }}
            </div>
        </form>
    </div>

    <!-- newsletter second step -->
    <div id="profile_div" class="newsletter__pass-b">
        <p>Se vuoi ricevere informazioni personalizzate compila anche i seguenti campi:</p>

        <form id="profileform" name="profileform">
            <input type="hidden" name="action" value="newsletter_subscribe">
            <input type="hidden" name="n_email" value="">
            <input type="hidden" name="step" value="2">
            <input type="hidden" name="trattamento_privacy" value="true">

            <div class="newsletter__block">
                {{ forms.selectField('drpAnni', 'Anno di nascita', 'n_anno', 'seleziona un\'opzione...', [1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1997,1998,1999,2000], 'required', 'required') }}
            </div>
            <div class="newsletter__block">
                {{ forms.selectField('drpSesso', 'Sesso', 'n_sesso', 'seleziona un\'opzione...', ['maschile','femminile'], 'required', 'required') }}
            </div>
            <div class="newsletter__block">
                {{ forms.selectField('drpProvince', 'Provincia', 'n_provincia', 'seleziona un\'opzione...', ['ancona','asti','roma', 'milano','napoli','bari','torino','ancona','asti','roma', 'milano','napoli','bari','torino','...'], 'required', 'required') }}
            </div>
            <div class="newsletter__block">
                {{ forms.selectField('drpProfessioni', 'Professione', 'n_professione', 'seleziona un\'opzione...', ['a','b','c','d','e','f','g','...'], 'required', 'required') }}
            </div>
            <div class="newsletter__block">
                {{ forms.radiocouple('Si', 'No', 'radP2b', 'radP2bYes', 'radP2bNo', 'n_inviadem', 'Acconsento al trattamento dei dati per attività di marketing') }}
            </div>
            <div class="newsletter__block">
                <div class="newsletter__field">
                    <button type="submit" class="newsletter__field__submit">completa</button>
                </div>
            </div>
        </form>
    </div>

    <!-- newsletter loader -->
    <div id="newsletter_loader" class="loader"></div>

    <!-- newsletter notice -->
    <div id="newsletter_notice" class="notice"></div>
</div>
