<!-- partial-innercard-static-content.twig -->

<div class="partial-innercard-static-content">
  {% if loop.index <= 1 and partialinnercardstaticcontent is not defined or loop.index is not defined and partialinnercardstaticcontent is not defined %}

    <link rel="stylesheet" href="@@url/css/components/partials/partial-innercard-static-content@css_extension.css" />

  {% endif %}

        {% include 'partial-single-card-inner-header.twig' %}

    <!-- post content -->
            <div class="editorial">
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem <a href="#">accusantium</a> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
              </p>
              <div class="related-post">
                {% set queryItem = galleries.items.children[3] %}
                {% include 'partial-card-gallery-big--k2.twig' %}
                {% set partialcardgallerybigk2 = "exists" %}
              </div>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem <a href="#">accusantium</a> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, Sed ut perspiciatis unde omnis iste natus error sit voluptatem <a href="#">accusantium</a> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, Sed ut perspiciatis unde omnis iste natus error sit voluptatem <a href="#">accusantium</a> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
              </p>
              </p>

              <div class="cta-container">
                <a href="#" class="orangeButton orangeButton--enter"><span>Continua</span></a>
              </div>
            </div>

    <!-- end post content -->
</div>
