<!-- partial-related-tag.twig -->

<div class="partial-related-tag">
    <div class="related-tag__wrapper">
        <span>Argomenti trattati:</span>
        <ul>
            {% for tag in queryItem.relatedTags %}
                <li class="tag-slide"><a href="{{ tag.link }}" rel="tag">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
