<!-- macro-tabs.twig -->

{% macro tabs(tabs) %}



<link rel="stylesheet" href="@@url/css/components/partials/tabs@css_extension.css" />
  <!--
  use this macro in following way

  <div class="tabs tabs--groupName">
    {#    {{ tabs.tabs([{label:'motore', id: 'engine', group: 'groupName', checked: 'checked'},{label:'prestazioni', id: 'performance', group: 'groupName'}]) }} #}
  </div>

-->

    <style>

        .tabs input[type="radio"].{{tabs[0].id}}:checked ~ .tabs__body .tabs__body__panel--{{tabs[0].id}} {
          opacity: 1;
          top: 0;
          visibility: visible;
        }

        .tabs input[type="radio"].{{tabs[1].id}}:checked ~ .tabs__body .tabs__body__panel--{{tabs[1].id}} {
          opacity: 1;
          top: 0;
          visibility: visible;
        }

        .tabs__body {
          position: relative;
        }

        .tabs__body .tabs__body__panel {
          opacity: 0;
          visibility: hidden;
          /*transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.5s;*/
          top: 40px;
          left: 0;
          width: 100%;
        }

        {% if tabs.length > 1 %}

          .tabs__body .tabs__body__panel {
            position: absolute;
          }

        {% endif %}

        @media screen and (max-width: 767px) {

          .scheda-tecnica__data {
            margin-bottom: 32px;
          }
          .tabs__body {
            min-height: 378px;
          }
        }

    </style>
    {% for tab in tabs %}
      <input  type="radio" id="{{ tab.id }}" value="{{ tab.id }}" class="{{ tab.id }}" name="{{ tab.group }}" {{ tab.checked }} hidden />
    {% endfor %}
    <div class="tabs__nav" role="navigation">
      {% for tab in tabs %}
        <label for="{{ tab.id }}">{{ tab.label|capitalize }}</label>
      {% endfor %}
    </div>

    <!--

    insert following body tabs in page, inside div .tabs

    <div class="tabs__body">
      <div class="tabs__body__panel tabs__body__panel--{{tabs[0].label}}...
      <div class="tabs__body__panel tabs__body__panel--{{tabs[1].label}}...
    </div>

   -->

{% endmacro %}
