<!--title-section.twig partial -->

{% macro title(text, textlink, url, css) %}

    <div class="title-section">
      {% if css|default(false) %}

        <link rel="stylesheet" href="@@url/css/components/partials/title-section@css_extension.css" />

      {% endif %}
      {% if text != "" %}
			   <span>{{ text }}</span>
      {% endif %}
      <span class="bottom_line"></span>
			{% if textlink != '' %}
          <a href="{{ url }}" class="title-link">{{ textlink|capitalize }}</a>
			{% endif %}
		</div>

{% endmacro %} 

{% macro titleSwitchView(text, css) %}

    <div class="title-section title-section--switch title-section-js">
      {% if css|default(false) %}

        <link rel="stylesheet" href="@@url/css/components/partials/title-section@css_extension.css" />

      {% endif %}
      {% if text != "" %}
			   <span>{{ text }}</span>
      {% endif %}

      <aside>
        <button class="icon-button icon-button--grid active" title="vista a gliglia"></button>
        <button class="icon-button icon-button--list" title="vista a lista"></button>
      </aside>

		</div>

{% endmacro %}

{% macro sidebarTitle(text) %}
{% if css|default(false) %}

  <link rel="stylesheet" href="@@url/css/components/partials/title-section@css_extension.css" />

{% endif %}
	<div>
		<span class="title title--sidebar">{{ text|capitalize }}</span>
	</div>
{% endmacro %}
