/* header-modal.twig styles */

@import "customVariables";
@import "mixins";

.header-modal {
  margin-bottom: 32px;

  .header__top {
    align-items: center;

    @media screen and (max-width: #{$breakpoint}px) {
      padding: 0;
    }

  .flex {
    overflow: hidden;
    padding: 0 20px;

    @media screen and (max-width: #{$breakpoint}px) {
      padding: 10px;
    }
  }

    h1 {

      -webkit-line-clamp: 1;
      text-overflow: ellipsis;
      margin-bottom: 0;
      overflow: hidden;
      white-space: nowrap;

      @media screen and (max-width: #{$breakpoint}px) {
        @include line-clamp(3,24);
        height: auto !important;
        font-size: 18px;
        line-height: 24px;
        white-space: normal;
      }
    }

    .button--close {
      background-position: 19px -150px;
      background-size: 43px auto;
    }

    .logo--modal {
      width: 100px;

      @media screen and (max-width: #{$breakpoint}px) {
        max-width: 60px;
        min-width: 60px;
      }
    }
  }
}
