/* footer.twig styles */
.section-footer--himalaya {
    @include clearfix;
    position: relative;
    padding: 48px 0 0;
    margin: 0 auto;
    @media screen and (max-width: 1024px) {
         width: 1012px;
     }
    @media screen and (max-width: #{$breakpoint}px) {
        width: 100%;
    }

    .leo-skin & {
        max-width: $siteWidth;
        margin: 0 auto;
    }

    > .container {
        max-width: $siteWidth;
        padding: 0 8px;
        margin: 0 auto;

        h4 {
            line-height: 16px;
            margin: 0 0 8px;
        }

        .footer__list {
            padding: 0 0 0 24px;

            ul {
                padding: 0 0 48px;

                li {
                    margin: 0 0 4px;

                    a {
                        line-height: 16px;
                    }

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }

        .footer__bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 112px;
            padding: 0 24px;
            @media screen and (max-width: #{$breakpoint}px) {
                flex-flow: column;
                padding: 48px 24px;
            }

            .bottom__logo {
                width: 48px;
                height: 48px;
                @media screen and (max-width: #{$breakpoint}px) {
                    margin: 0 0 16px;
                }
            }

            .bottom__navigation {
                ul {
                    @include clearfix;

                    li {
                        margin: 0 24px 0 0;
                        float: left;
                        @media screen and (max-width: #{$breakpoint}px) {
                            text-align: center;
                            margin: 0 0 4px;
                            float: none;
                        }

                        &:last-child {
                            line-height: 32px;
                            margin: 0;
                        }

                        a {
                            line-height: 32px;
                            @media screen and (max-width: #{$breakpoint}px) {
                                line-height: 16px;
                            }
                        }
                    }
                }
            }
        }

        .col-5 {
            .col-6 {
                @media screen and (max-width: #{$breakpoint}px) {
                    @include span(1/2);
                }
            }
        }
    }

    .partial-cta-newsletter {
        padding: 0 24px 0 0;
        margin: 0 0 48px;
        @media screen and (max-width: #{$breakpoint}px) {
            padding: 0 24px;
        }

        a {
            position: relative;
            display: block;
            line-height: 40px;
            text-align: left;
            border-radius: 4px;
            padding: 0 32px;

            &:after {
                content: '→';
                position: absolute;
                bottom: 0;
                right: 24px;
                line-height: inherit;
            }
        }
    }

    .contentinfo {
        padding: 0;
        @media screen and (max-width: #{$breakpoint}px) {
            padding: 0 24px;
        }

        .social__icons {
            @include clearfix;
            @media screen and (max-width: #{$breakpoint}px) {
                text-align: center;
            }

            a {
                margin: 0 8px 0 0;
                float: left;
                @media screen and (max-width: #{$breakpoint}px) {
                    display: inline-block;
                    float: none;
                }

                &:last-child {
                    margin: 0;
                }
            }
        }

        p {
            line-height: 24px;
            margin: 0 0 24px;
            @media screen and (max-width: #{$breakpoint}px) {
                text-align: center;
            }
        }
    }
}
