/* section-sticky-rail.twig styles */

.section-sticky-rail {
    width: 100%;
    min-height: 1200px;
    margin: 0;

    @media screen and (max-width: #{$breakpoint}px) {
        min-height: 0;
    }
}
