/* header.twig styles */
.section-header--himalaya {
    @include clearfix;
    position: static;
    position: relative;
    width: 100%;
    height: auto;
    padding: 32px 0 0;
    margin: 0;
    transition: none;
    @media screen and (max-width: #{$breakpoint}px) {
        height: 70px;
        padding: 16px 0;
    }

    .hamb {
        display: none;
        position: absolute;
        top: 10px;
        left: 10px;
        width: 48px;
        height: 48px;
        padding: 12px;
        @media screen and (max-width: #{$breakpoint}px) {
            display: block;
            z-index: 99;
        }
    }

    .lens {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 48px;
        height: 48px;
        padding: 12px;
        @media screen and (max-width: #{$breakpoint}px) {
            display: block;
            z-index: 99;
        }
    }

    .logo {
        width: 400px;
        padding: 0;
        margin: 0 auto;
        @media screen and (max-width: #{$breakpoint}px) {
            width: 196px;
        }

        a {
            display: block;
        }
    }

    .navigation-wrapper {
        width: 100%;
        height: 65px;
        @media screen and (max-width: #{$breakpoint}px) {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: 99999;

            &.active {
                display: block;
            }
        }

        .navigation {
            z-index: 999;
            @media screen and (max-width: #{$breakpoint}px) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-bottom: none;
                overflow-y: auto;
            }

            ul {
                @include clearfix;
                display: flex;
                align-items: center;
                justify-content: center;
                @media screen and (max-width: #{$breakpoint}px) {
                    flex-flow: column;
                    align-items: flex-start;
                    padding: 48px 24px;
                }

                li {
                    position: relative;
                    display: block;
                    padding: 0;
                    margin: 0;

                    a {
                        display: block;
                        line-height: 64px;
                        padding: 0 10px;
                        margin: 0;
                        @media screen and (max-width: #{$breakpoint}px) {
                            font-size: 18px;
                            line-height: 56px;
                        }
                    }

                    &.current {
                        @media screen and (max-width: #{$breakpoint}px) {
                            a {
                                padding: 0 10px 0 48px;
                            }

                            &:after {
                                left: -24px !important;
                                bottom: 50% !important;
                                width: 64px !important;
                                margin-bottom: -1px !important;
                            }
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: -1px;
                            width: 100%;
                            height: 2px;
                        }
                    }

                    &.search-bar {
                        @media screen and (max-width: #{$breakpoint}px) {
                            display: none;
                        }
                    }
                }
            }
        }

        .navigation-wrapper__close {
            display: none;
            position: absolute;
            top: 10px;
            right: 10px;
            width: 48px;
            height: 48px;
            padding: 12px;
            z-index: 9999;

            @media screen and (max-width: #{$breakpoint}px) {
                display: block;
            }
        }
    }

    .search-wrapper {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px 88px 10px 48px;
        z-index: 10;
        @media screen and (max-width: #{$breakpoint}px) {
            border: none;
            padding: 12px 56px 12px 8px;
            z-index: 99;
        }

        &.active {
            display: block;
        }

        .search-wrapper__close {
            position: absolute;
            top: 8px;
            right: 36px;
            width: 48px;
            height: 48px;
            padding: 12px;
            z-index: 9999;
            @media screen and (max-width: #{$breakpoint}px) {
                right: 10px;
            }
        }
    }
}
