/* section-cards-social.twig styles */

.section-cards-social {
    margin: 0;
    @media screen and (max-width: #{$breakpoint}px) {
        margin: 0 0 20px;
    }

    h2 {
        line-height: 24px;
        margin: 0 0 8px;
    }

    .col-6 {
        @media screen and (max-width: #{$breakpoint}px) {
            margin: 0 0 20px;
        }

        &:last-child {
            @media screen and (max-width: #{$breakpoint}px) {
                margin: 0;
            }
        }
    }
}
