/* trends.twig styles */

.front-page__trends {
	background-color: #171A29;
}

.trends--section {
	display: flex;
	align-items: center;
	padding: 8px 16px;
	position: relative;
	margin: 0 auto;
	max-width: 996px;

	// body.leo-skin & {
	// 	max-width: 996px;
	// }

	@include smartphone {
		//display: none;
    flex-direction: column;
	}

  .trending-now {
    min-width: 130px;
    text-align: left;

    @include smartphone {
  		text-align: center;
  	}
  }

	> div {
		text-align: center;

		span {
			color: $darkGrey;
			font-family: $SFUI;
			font-size: 15px;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	.trends-section__container {
		overflow: hidden;
		width: calc(100% - 158px);
		height: 100%;
		position: relative;

    @include smartphone {
  		min-width: 80%;
  	}

		ul {
			width: calc(100% - 15px);
	    height: 100%;
	    overflow-x: scroll;
	    box-sizing: content-box;
	    position: absolute;
	    padding: 8px 30px 8px 0;
			display: flex;
			align-items: center;
			white-space: nowrap;

			li {
				margin: 0 5px;
				padding: 9px 6px 6px;
			}
		}

		.swiper-wrapper {
			align-items: center;
			width: auto;

			.swiper-slide {
				width: auto;
				height: auto;
			}
		}

		a {
			font-family: $Roboto;
			font-size: 16px;
			font-weight: normal;
			color: #fff;
		}
	}

	.front-page__trends & {
		// background: transparent;
		// margin: 0 auto;
    // padding: 0 16px;

		ul {

			li {

				&:hover {
					background-color: rgba(255, 255, 255, 0.1);
				}

				a {
					color: #fff;
				}
			}
		}
	}

	.trendsSlider-nav {

		&.trendsSlider__prev {
				content:'';
				@extend %icons;
				position: absolute;
				width: 24px;
				height: 24px;
				left: 110px;
				top: 50%;
				transform: translateY(-50%);
				background-position: 3px -925px;

				@include smartphone {
					left: 10px;
				}
		}

		&.trendsSlider__next {
				content:'';
				@extend %icons;
				position: absolute;
				width: 24px;
				height: 24px;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
				background-position: 3px -235px;
		}

		@include smartphone {
			top: 66% !important;
		}
	}
}
